[2016-01-25 22:04] hzalaz opened #8 "Rename project to auth0-java"

[2016-01-25 22:04] hzalaz opened #9 "Submit to jcenter scripts"

[2016-01-25 22:09] hzalaz opened #10 "Management API"
Implement methods from Mgt API http://docs.auth0.com/api

[2016-01-25 22:10] hzalaz opened #11 "Release from travis to jcenter"

[2016-01-25 22:11] hzalaz opened #12 "Add examples project"
Plain java project for sync/async (Android?)

[2016-02-26 18:02] brendonanderson opened #16 "When will this be made available as a Maven dependency?"
Or JCenter or wherever so I can pull it in using Gradle.

[2016-03-21 13:04] hzalaz commented on #16
@brendonanderson it should be available now in JCenter, and in a few hours in Maven Central

[2016-03-21 13:04] #16 closed

[2016-03-21 13:06] #9 closed

[2016-03-21 13:06] #10 closed

[2016-03-21 13:06] #11 closed

[2016-03-21 13:06] #12 closed

[2016-03-21 13:06] #8 closed

[2016-03-29 12:15] scholza opened #18 "Maven artifactId"
the artifactId mentioned in the readme is not consistent with the artifact published in maven repo:
* the readme states "auth0-java"
* the actual artifact in maven is "auth0" - without the "-java"

The maven-central icon is correct (that's how I actually found the artifact). Maybe it is more a problem with the build than the readme as "auth0" seems a bit generic for an artifactId.

[2016-03-29 14:39] hzalaz commented on #18
@scholza Thanks for the heads up, just updated the README to use the correct artifact id, we forgot to fix it after the release.

[2016-04-15 21:08] #18 closed

[2016-04-22 09:06] drazzib opened #22 "Management API Client ?"
Hi!

What is current plan (and associated ETA) for implementing Management API Client in this project ?
https://auth0.com/docs/api/v2

Regards,

[2016-04-22 13:11] hzalaz commented on #22
@drazzib it's in our plans but not in the short term, we'll start adding some of them little by little starting with the users endpoint. What api methods do you need?

[2016-04-22 15:38] drazzib commented on #22
Hi @hzalaz !

I've started implementing /api/v2/users (list/search + get + add).
Would you be interested in a PR with my actual code ?

Best regards,

[2016-04-22 15:46] hzalaz commented on #22
@drazzib sure

[2016-07-01 19:19] NeoLSN opened #29 "Upgrade to OkHttp3"
Since OkHttp3 is released for a while.
Would you consider upgrade to OkHttp 3?

[2016-08-03 11:11] j-soliduslink opened #30 "Exception when creating com.auth0.authentication.result.Credentials from json"
we're trying to use auth0 on appengine. after parsing the response, we got:

java.lang.RuntimeException: Unable to invoke no-args constructor for class com.auth0.authentication.result.Credentials. Register an InstanceCreator with Gson for this type may fix this problem.
    at com.google.gson.internal.ConstructorConstructor$12.construct(ConstructorConstructor.java:210)
    at com.google.gson.inter

[2016-08-12 09:39] pocman commented on #22
Hi,
I would really need the PATCH	/api/v2/users/{id}

[2016-09-09 11:22] uded commented on #29
+1

[2016-09-09 11:23] uded commented on #22
Any chance to get some traction on this? Management API is a huge miss here...

[2016-10-11 09:03] pdelorme opened #31 "UserProfile.getExtraInfo() always null"
Im using auth0-java in a SpringBoot application with ng2 on the front side.
Authentication and authorisation goes well but when I can't get user info from the JWT token on the server.
While UserProfile is retrieved without problems, the profile extraInfo is always Null even though I get this info through the [support page](https://auth0.com/docs/api/authentication#!#post--tokeninfo)

see this exam

[2017-01-31 15:38] alonshoshani opened #33 "Latest version 1.0.0 is not in the centeral respository"
http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.auth0%22%20AND%20a%3A%22auth0%22

[2017-01-31 15:50] hzalaz commented on #33
It takes some time for central to publish it, it was released in the last hour

[2017-01-31 15:50] #33 closed

[2017-02-01 00:34] LarsOL opened #35 "Support Google App engine"
We are using google app engine, which unfortunately sets some strict limits on external API requests, and the classes they use. E.i "java.net.ProxySelector is a restricted class"

It seem that under the hood you are using OkHttp, which defaultly is incompatible. Would it be possible to expose a call factory for OkHttpClient like retrofit, so we can patch in the app engine specific call handler?

[2017-02-24 23:33] joshua-pevner opened #41 "Identity lacks access_token_secret"
The Twitter identity provides both an access_token and access_token_secret in its Identity.  Both of these values are necessary when doing third-party auth with Twitter. Unfortunately, the current Identity class only provides the access_token field.  Preferably, another field would be added for access_token_secret.

[2017-02-24 23:34] #29 closed

[2017-02-24 23:34] #22 closed

[2017-02-26 14:06] lbalmaceda commented on #41
Hi @joshua-pevner,
With https://github.com/auth0/auth0-java/pull/40 you'll be able to specify additional parameters.

[2017-02-27 13:23] shiloa opened #42 "OkHttpClient - A connection to [issuer] was leaked"
Hi,

We're using `com.auth0:auth0:1.0.0` and `com.auth0:auth0-spring-security-api:1.0.0-rc2` inside a spring-boot `1.5.1.RELEASE` application. When calling the Auth0 API, we occasionally see a log warning that apparently emanates from `okhttp3`:

[code]

Looking it up it seems the possible cause is that the body of the request needs to be explicitly closed when the response code is not 200.  See h

[2017-02-27 13:24] lbalmaceda commented on #42
Hi @shiloa,
We fixed that in https://github.com/auth0/auth0-java/pull/38. You'll see it in the next release.

Cheers,

[2017-02-27 13:24] #42 closed

[2017-02-27 13:28] shiloa commented on #42
thanks @lbalmaceda.

[2017-03-02 11:53] amertum opened #43 "Provide tokeninfo method"
I've just migrate from `0.4` to `1.0` and I'm missing the `AuthenticationAPIClient#tokenInfo(idToken)` method.

I'm using lock with JWT for my single page application. I call my API passing the JWT as Authentication header. I then use the JWT to retrieve the user info by calling `#tokenInfo`.

With the new `1.0` version, I have not find the `#tokenInfo` method which is documented here https://auth

[2017-03-02 14:46] hzalaz commented on #43
@amertum ideally you could decode the token (after verifying it) and get some user info from its claims. If you need the full user profile I'd recommend calling Management API https://auth0.com/docs/api/management/v2#!/Users/get_users_by_id

To get a token to call it you can use [client-credentials](https://auth0.com/docs/api-auth/config/asking-for-access-tokens) to get a token for your backend (t

[2017-03-02 14:46] #43 closed

[2017-03-07 21:05] lbalmaceda commented on #41
Hi @joshua-pevner
Thanks for reporting this. I've submitted a PR that parses the extra fields to a Map.

[2017-03-07 22:03] joshua-pevner commented on #41
That's awesome, thank you.

[2017-03-14 22:06] #41 closed

[2017-03-15 13:08] shoikot opened #46 "Update username Or password using management API"
I'm trying to update a existing Users' username and password  with this method https://github.com/auth0/auth0-java#update

But getting a APIException and the exception description says:
[code]
I've followed this thread : https://auth0.com/forum/t/apiv2-payload-validation-error/372/4 ,  where someone named 'yenkel' said

that thread is old , did they implemented it , please let me know
Question: ho

[2017-03-15 14:55] lbalmaceda commented on #46
Hi @shoikot,
In the same post you've linked says they [removed](https://auth0.com/forum/t/apiv2-payload-validation-error/372/10) the edition of those fields at the root level of the profile. The current way to add custom fields as of *Management API v2* is to save values in `user_metadata` using the [PATCH /v2/users](https://auth0.com/docs/api/management/v2#!/Users/patch_users_by_id). With this sa

[2017-03-15 14:55] #46 closed

[2017-03-24 02:25] bradleybuda opened #48 "Feature request: add support for the /delegation API"
I'd like to use this SDK to obtain an access_token for a refresh_token - it looks like in Auth0 this is done with the [/delegation API](https://auth0.com/docs/api/authentication#delegation). Is it possible to add that to the Java SDK so I don't have to roll my own implementation? Thanks!

[2017-03-27 15:11] lbalmaceda commented on #48
Hi @bradleybuda.
I'll mark it as a feature request. In the meantime you can make a `POST` request to the `/oauth/token` endpoint with the following body:

[code]

[2017-03-28 16:48] rafalwrzeszcz opened #49 "HTTP response status in exception"
How to get a response status in case of error response? `Auth0Exception` is just an `IOException`, no information about reason - it's critical to know if it's 403, or 404 (or anything else).

[2017-03-28 16:51] lbalmaceda commented on #49
Hi @rafalwrzeszcz
That kind of exception is called `APIException`. You can try to catch it first as it extends `Auth0Exception`, and call `getStatusCode()` to know the status code. [ref](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/exception/APIException.java#L44).

[2017-03-28 16:51] #49 closed

[2017-03-28 16:55] rafalwrzeszcz commented on #49
Ok, sorry, didn't notice this subclass, as all `throws` contracts claims just `Auth0Exception`. I see big improvement form `0.4.0` to `1.0.0`, but I miss some migration documentation.

[2017-03-28 16:56] lbalmaceda commented on #49
Thanks for the feedback! 🎉  I'll take note and update the docs in the future.
Cheers.

[2017-04-04 21:21] agomezcafeto opened #52 "Create API token"
The only way to create a new API token is through a http request?
and how do you verify that API token isn't expired?

[2017-04-26 20:02] #31 closed

[2017-04-26 20:03] lbalmaceda commented on #31
Please check our latest version as it's a bit more generic. You'll still need to know each property name and perform a null check.

[2017-04-27 06:47] rafalwrzeszcz opened #53 "1.0.1 release"
Would it be possible to have updated version released? Custom properties handling is critical for me and it's not in `1.0.0` but exists in the source code for two months already.

[2017-04-27 20:25] #48 closed

[2017-05-08 05:49] asmolabs opened #54 "query for search users is not correctly translated"
Hi,

I had a query "user_metadata.\*environmentType:"DEMO""

This query works in the Management test api

Call failed with sdk because url creation

Web management api send :: user_metadata.%5C*environmentType%3A%22DEMO%22

Your sdk send :: user_metadata.\\*environmentType:%22DEMO%22

Best regards

[2017-05-08 17:31] lbalmaceda commented on #54
Hi @asmolabs thanks for reporting this. I've reproduced the issue, it seems it's not properly encoding the URL query parameters. I'll try to fix it for the next release.
Cheers.

[2017-05-15 14:45] JMischlich commented on #53
We also looking forward to a new release.

[2017-05-23 20:33] #54 closed

[2017-05-23 21:35] lbalmaceda commented on #53
Just released `1.1.0`.

[2017-05-23 21:35] #53 closed

[2017-05-23 21:37] lbalmaceda commented on #52
Please, ask these kind of questions in https://support.auth0.com/ or https://community.auth0.com/

[2017-05-23 21:37] #52 closed

[2017-05-26 10:54] eggsy84 commented on #46
Trying the above example to programatically set password and it seems to fail validation.

trying something like this:

[code]

[code]

[2017-06-08 20:34] brettcooper opened #58 "Add ability to set only certain properties when updating a user."
When calling the management API to update a user, I am always receiving the following exception:

com.auth0.exception.APIException: Request failed with status code 400: Payload validation error: 'Additional properties not allowed: logins_count,last_login,identities,updated_at,created_at,nickname,name,picture,user_id (consider storing them in app_metadata or user_metadata. See "Users Metadata" in h

[2017-06-08 20:47] lbalmaceda commented on #58
@brettcooper The server won't let you call that endpoint sending any of those attributes. When you call PATCH you just send the attributes that you want to change, not the whole user object.. In the practice you'd do that if the Http method is PUT. So if you're trying to change the blocked attribute, just send that.

[2017-06-08 20:51] brettcooper commented on #58
@lbalmaceda Is it currently possible to do this with the Auth0 Java client?  If so, can you point me in the right direction or can you provide an example?

[2017-06-08 21:02] lbalmaceda commented on #58
User should have a public constructor with no args but it seems it's missing. Anyway, if you see the code the same can be achieved by passing a null connection.

[code]

[2017-06-08 21:02] #58 closed

[2017-06-08 21:08] brettcooper commented on #58
Perfect.  Thanks @lbalmaceda !

[2017-07-11 08:31] nealeu opened #60 "Update of name, familyName, givenName fails with API v2, and should be @deprecated"
The User class contains these, but they are not supported, with the API returning a message suggesting to use user_metadata instead.

They should be at least deprecated in the Javadoc so that developers know that they should migrate away from using them.

[2017-07-11 13:35] lbalmaceda commented on #60
@nealeu those setters work when you're trying to **create a new user**. There are, of course, values that don't make sense to change once you've set them, like the `name`. If you do need to change them you'll have to delete the user and create it again.

[2017-07-11 13:35] #60 closed

[2017-07-11 18:30] nealeu commented on #60
Sorry, but  can you be a bit clearer here.  The Javadoc on those properties is "content free" (i.e. it states what is already obvious).

I'm suggesting that some greater clarity could be provided and you've just closed the issue.

Also, what are we supposed to do when we, as happens, someone gets married, or has a gender re-assignment?  Given name and family name can change.

We should not have to

[2017-07-11 18:34] nealeu commented on #60
By the way.  Having removed updates to the names, I am getting issues with it telling me that I cannot make updates to the password and emailVerified at the same time when I'm not attempting to change either of them.

[2017-07-11 18:56] hzalaz opened #61 "Use different POJO for PATCH /api/v2/users"
Since PATCH users has some strict rules we could use a different POJO to make it simpler to modify the user without knowing those rules

[2017-07-11 18:57] hzalaz commented on #60
@nealeu some root attributes are not allowed to be modified not by design of this SDK but of the [API](https://auth0.com/docs/api/management/v2#!/Users/patch_users_by_id). The POJO of User it has a dual use for POST and PATCH and that's why it has all those setters since when you create the user you can define those values. However we will explore an alternative like having a different POJO for PA

[2017-07-11 21:47] nealeu commented on #60
Thanks. That would make sense.

[2017-07-12 20:31] alump opened #62 "How to request Auth0 to resend the verification email, via Java API?"
I did not find any way to resend the validation email with Java API.

Also following method is not available via Java API.
https://auth0.com/docs/api/management/v2#!/Jobs/post_verification_email

[2017-07-12 20:53] lbalmaceda commented on #62
@alump there's no way to trigger it from this SDK. Back when we designed it we thought that the Jobs API wasn't so useful, though I'll consider adding this single method. For the time being, you'll have to make that request manually following the docs that you've linked above. I'll leave this open as a reminder.
Cheers.

[2017-07-17 18:09] dmorrow opened #63 "Password policy for account creation"
Are password policy errors accessible from the server side library?
We would like to pass them through to our custom UI via our API.

https://auth0.com/docs/connections/database/password-strength

[2017-07-17 18:47] lbalmaceda commented on #63
@dmorrow password strength errors are a special case not currently contemplated in the implementation. The description comes as a detailed JSON object and needs to be parsed in a different way. I'll leave this issue open as a reminder.

[2017-07-19 13:40] rmcloughlin opened #64 "LogoutUrlBuilder and access_token"
`LogoutUrlBuilder.java` has a `withAccessToken()` method but the logout API https://auth0.com/docs/api/authentication#logout has no access_token parameter.

[2017-07-19 16:38] rmcloughlin commented on #64
Thanks.  Please note that the `withAccessToken()` method is referred to in the documentation in the `README.md` file.

[2017-07-22 21:02] marci74 opened #66 "Get AD connection's provisioning_ticket_url property"
I see no way to get the value of the "provisioning_ticket_url" property of an AD connection entity. Could you please add it to the connection POJO? For a common solution it might make sense to have the possibilty to use custom POJOs for the deserialization. Thanks.

[2017-07-24 17:34] unnamed38 commented on #66
I would really like to have this feature as well

[2017-08-07 18:57] #66 closed

[2017-08-09 12:17] kmuthukrishnan opened #69 "Social login using the java sdk"
@lbalmaceda,

We are using the sdk provided for our login and registration (Thanks!). We also need to implement social login - facebook and google based login & registration in our app.

Can you please help us understand how we can implement the same?

regards
Krithika

[2017-08-09 14:42] lbalmaceda commented on #69
The easiest way is to call the Auth0 Hosted Login Page by using the `AuthorizeURLBuilder` as explained [here](https://github.com/auth0/auth0-java#authorize---authorize). If you pass a connection name (i.e. `auth0` or `facebook`) it will use that one, but if you don't set it the widget will show every connection enabled for that client. I suggest you follow the [quickstarts](https://auth0.com/docs)

[2017-08-09 14:43] #64 closed

[2017-08-09 14:44] lbalmaceda commented on #66
I just released 1.2.0 on Bintray. In a few hours, it should be available on Maven as well.

[2017-08-12 13:12] Vo0Do0 opened #70 "Managing Signup and Login using Oauth 2 Accesstoken"
Hi @lbalmaceda

First of all thanks for this SDK. Now I can manage regular login and signup with the help of this plugin. But I couldn't able find suitable apis which handle the social Signup and login using Oauth 2 Token. I have a custom login page in my front end which gives Oauth 2 token on successful login in social media like google and facebook. So I want to use this tokens for signing up an

[2017-08-12 13:27] jspetrak commented on #70
Hello @Vo0Do0 usually you use social websites as identity providers. This means, you would need to use Auth0 login page in order to enable the social login. You can read more about Facebook [here](https://auth0.com/docs/connections/social/facebook). Other social logins are also documented.

[2017-08-12 22:48] lbalmaceda commented on #70
@Vo0Do0 The [endpoint](https://auth0.com/docs/api/authentication#social-with-provider-s-access-token) you mention was removed and it's no longer enabled for new clients as it's not OIDC conformant. We might get it back in the future if we accomplish that but we can't provide any date now.

As of today, the easiest way to do social signup/login is using the Auth0 _Hosted Login Page_. In your client

[2017-08-12 22:48] #70 closed

[2017-08-15 08:19] Vo0Do0 opened #71 "Issue accessing management.user().list()."
Hi, @lbalmaceda

I am facing one issue while accessing user's list with some parameter. I can run it from the console  but facing the issue in the sdk. Here I am attaching my code with the error message. Any help on this will be appreciated. Thanks in advance.

Code:
[code]

Error:

[code]

[2017-08-15 15:10] lbalmaceda commented on #71
@Vo0Do0 The stack points to a `LoggingExceptionMapper` external to this library. Probably because that logger is trying to convert an *unknown* POJO class into a plain string for logging purposes. By commenting the `logger.info` lines the issue is fixed. For debugging purposes you can use `mgmt.setLoggingEnabled(true)` to log every http req/res, but remember to turn it off in production environmen

[2017-08-15 15:10] #71 closed

[2017-08-21 04:51] ashishdasnurkar opened #72 "Feature Request: Allow sending client ip as `auth0-forwarded-for` header for password grant"
As required in this https://auth0.com/docs/api-auth/tutorials/using-resource-owner-password-from-server-side#brute-force-protection-and-server-side-apis

[2017-08-21 11:24] mattjbray opened #73 "Improve support for PKCE flow"
It would be nice if this library would better support the PKCE flow. Specifically:

* Allow instantiating `AuthAPI` without a client secret.
* Library functions for creating the `code_verifier` and `code_challenge` as documented in the Java sample code [here](https://auth0.com/docs/api-auth/tutorials/authorization-code-grant-pkce#1-create-a-code-verifier).
* Add a `withCodeChallenge` method to `Au

[2017-08-22 14:56] lbalmaceda commented on #73
@mattjbray This library is preferred for server side code that's why we require the `client_secret` at first and send it on the authentication calls. PKCE flow is meant to be used from native clients, like a mobile app. If that's your case you might find this other [library](https://github.com/auth0/auth0.android) helpful.

[2017-08-22 14:58] lbalmaceda commented on #72
@ashishdasnurkar I'd rather make the `Request` class support setting custom headers and let the user do that manually, as not all the endpoints support this. I'll leave the issues open as a reminder.

[2017-08-22 16:23] mattjbray commented on #73
@lbalmaceda This is for a desktop Java application.

[2017-09-06 13:50] #69 closed

[2017-10-10 01:58] LuisSaybe opened #78 "NullPointerException, StdDeserializer"
Using `'com.auth0:auth0:1.3.0'`
java `1.8.0_111`

Failing Test:

[code]

Stack trace:

[code]

[2017-10-10 21:24] lbalmaceda commented on #78
This seems like a json parse issue but I couldn't reproduce it with my users base. Could you please narrow the search to the user who's giving this exception and share the raw json response? Please remove any secrets/passwords/private stuff.

[2017-10-11 01:09] LuisSaybe commented on #78
Still working to find out why this is happening, I also noticed that if I retrieve no users via `filter.withPage(0, 0);`, the same error is still thrown. The return body in this case is an empty array `[]`.

[code]

If I clone the `1.3.0` release and run locally and run this same test, then everything works fine.

[2017-10-11 06:23] jeacott1 opened #79 "no setter for User.id"
for testing purposes it would be helpful if there was some way other than using jackson to magically set the userId field for an auth0 User object.

[2017-10-11 12:58] lbalmaceda commented on #79
No that I can imagine as that is an attribute set only by the server. Either parse a JSON with the values you need for your tests or mock the User instance and make it return a given id when `user.getUserId()` is called.

[2017-10-11 12:58] #79 closed

[2017-10-11 13:39] lbalmaceda commented on #78
If I read your reply I understand that this is happening when requiring the dependency but not when cloning the repo and running this same thing along with this library project, is that correct? I've tried both ways and the result is the same, it works like expected. I can't reproduce the error you're having. If you haven't done yet, try to run the same test on a new java project with no other dep

[2017-10-11 23:06] LuisSaybe commented on #78
Turns out the problem was a transitive dependency I had to exclude
Thanks for your help

[code]

[2017-10-16 02:43] jeacott1 opened #80 "How do I rotate the managementApi token with this lib?"

[2017-10-17 02:48] jeacott1 opened #81 "."

[2017-10-17 03:00] jeacott1 commented on #81
looks like requestEmailVerification is the equivalent?

[2017-10-17 03:00] #81 closed

[2017-10-17 12:51] lbalmaceda commented on #80
You would [blacklist the access token](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/BlacklistsEntity.java#L53) or [delete the client grant](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/ClientGrantsEntity.java#L78). More info [here](https://auth0.com/docs/api-auth/blacklists-vs-grants).

[2017-10-17 12:51] #80 closed

[2017-10-18 15:08] Bronsa commented on #62
Any updates on this?

[2017-10-18 15:09] lbalmaceda commented on #62
@Bronsa I'll see if the next week I can give it a look. PRs are welcome though.

[2017-10-18 15:10] Bronsa commented on #62
👍 , I'll see if I have some time before you do then

[2017-10-20 01:18] jeacott1 commented on #80
I think you missed my point. the token expires but I need my service to continue working.
I've had to roll my own wrapper for your sdk in order to keep a consistently available managementApi with a non expired token on call. There is no built in functionality and no way to hand a new token to the ManagementAPI object. once its token expires the whole thing needs to be replaced. cumbersome and anno

[2017-10-31 18:28] gotwalt commented on #78
Constructor chaining here is crazy here => https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/users/UsersPageDeserializer.java#L22. Jackson is calling this line with no argument and causing the superclass to throw an NPE. There should be some sort of guard here to prevent this.

[2017-10-31 18:42] LuisSaybe commented on #78
Yes, I found the same thing too, but that works perfectly fine under the current version of Jackson in this project. What would be great is if this project upgrades to the latest version of Jackson and concurrently fixes the NPE, would resolve a lot of classpath issues

[2017-10-31 18:46] gotwalt commented on #78
@lbalmaceda Is there a roadmap for maintenance changes to this library? If we submit a PR to fix this problem is there anything we need to do w/r/t specific testing requirements or contributor licensing?

[2017-10-31 19:20] lbalmaceda commented on #78
Sure! submit a PR and I'll be happy to review/merge it. The only condition for me to merge it is that tests should pass. Fell free to fix the no-arg constructor (same issue applies on `LogEventsPageDeserializer` class) and to update the dependencies to latest.

[2017-11-01 02:17] LuisSaybe commented on #78
Have the PR [here](https://github.com/auth0/auth0-java/pull/82)

[2017-11-01 20:20] #78 closed

[2017-11-01 21:15] lbalmaceda commented on #78
I've just released a patch, should be already available on bintray and in a few hours on maven central.

[2017-11-02 22:40] gotwalt opened #84 "Feature request: ability to introspect management API User connection"
Though the connection is in memory if I've fetched a user, there's no way to actually read the field unless I dump it to JSON. Is there a reason for this design choice?

https://github.com/auth0/auth0-java/blob/5f44c0dc5ce10cbea42a910d0196e32f3870afd3/src/main/java/com/auth0/json/mgmt/users/User.java#L516

[2017-11-02 22:56] gotwalt commented on #84
Ahh, it's found inside the array of identities. Makes sense.

[2017-11-02 22:56] #84 closed

[2017-11-03 13:04] lbalmaceda commented on #84
The problem with this first API is that the same POJO is used to
- create users
- retrieve users

Create has it's own rules, like always requiring a `connection`. If the user is part of a db connection, the `email` and `password ` is also required. But when you read the user back, you get the info of each provider used to log in in the `identities` array.

On a future version I'll change this to u

[2017-11-03 15:44] neshanjo opened #85 "Support for new users-by-email endpoint?"
Hi,

when will the new users-by-email endpoint be supported?
https://auth0.com/docs/api/management/v2#!/Users_By_Email/get_users_by_email

Kind regards,
Johannes

[2017-11-03 15:46] lbalmaceda commented on #85
We're looking to support it soon. I hope by next Friday.

[2017-11-03 15:47] neshanjo commented on #85
That's great!

[2017-11-06 10:10] cesartl opened #86 "SignUp response is a VoidRequest"
Currently the `signUp call` returns a `VoidRequest` even though the documentation specifies the server responds with a message like

[code]

It would be better for `signUp` to return something like `CustomRequest<User>` so the newly created user id can be accessed.

[2017-11-09 17:17] #85 closed

[2017-11-13 15:36] lbalmaceda commented on #86
Totally. I missed this method. I think `username` is also returned when you signup with a username. Will leave this open as a reminder. Thanks

[2017-11-16 08:26] sergeantwolf opened #88 "Management API - user creation with id specified"
Hi,

In Auth0 management API, [user creation](https://auth0.com/docs/api/management/v2#!/Users/post_users) call, there is a possibility to specify particular user_id.
I can't find a way do set it via the client here, since User class id field doesn't have a setter.

Any way to work around this besides implementing POST call by hand?

[2017-11-16 18:46] lbalmaceda commented on #88
@sergeantwolf I think this is new 🤔 . I could add a setter for the id in that case. I'll review with the team 👍  Q: Why would you want your own id instead of using the random hash that the db assigns?

[2017-11-16 19:55] sergeantwolf commented on #88
@lbalmaceda thanks for the quick answer!
It's pretty simple, I'm doing an ongoing sync of users from existing database. It's quite convenient to have a match in terms of ids for that purpose.

[2017-11-16 19:58] lbalmaceda commented on #88
I don't know if the user_id can be changed once set, probably not. Just remember that the ids will have a `provider|id` format, where provider is the connection provider i.e. facebook or auth0, and id is the value you pass to this post as user_id.

[2017-11-16 20:27] sergeantwolf commented on #88
Yeah, you can't change the userId value for existing user. Which makes perfect sense imo :)

[2017-11-21 16:21] neshanjo commented on #85
Ok. It's merged now. Thank you! When will it be released?

[2017-11-22 09:02] shoikot opened #89 "Socket Timeout Exception while a user with large metadata attempts to login"
I'm using the `v1.3.0`  and when I try to authenticate a user with large meta data then the following exception show up, the `OkHttpClient` of `AuthAPI` has a private getter so was not able set read timeout , pls have a look at following code and stack tress , any suggestion is welcome , pls suggest me how can I solve this

**Code:**
[code]
**Exception:**
[code]

[2017-11-22 14:03] lbalmaceda commented on #89
Ah yes.. The OkHttpClient instance is not exposed in the public API so you won't be able to change the timeout values. How big is the metadata you're sending? This is plain text and [10 seconds](https://github.com/square/okhttp/blob/okhttp_30/okhttp/src/main/java/okhttp3/OkHttpClient.java#L350) make actually a lot of sense for common scenarios, and this is just authentication we're talking 👎 . Ple

[2017-11-22 14:15] shoikot commented on #89
@lbalmaceda thanks for the quick reply and yes we are optimizing the metadata and JSON structures so that similar issue never happen again even for the users  , so closing this ] issue

[2017-11-22 14:15] #89 closed

[2017-11-24 13:27] lbalmaceda commented on #85
Hey. I want to fix this https://github.com/auth0/auth0-java/issues/86 as well before the next release, but I'm holding for a response from other team. Hopefully before next Friday 🤞

[2017-11-27 14:13] TiGz opened #90 "New release 1.3.2 containing listByEmail?"
Hi,

I want to call the users().listByEmail endpoint but the relevant method seems to be missing from the latest release:

        <dependency>
            <groupId>com.auth0</groupId>
            <artifactId>auth0</artifactId>
            <version>1.3.1</version>
        </dependency>

Could we have a new release please? Or am I missing something?

Thanks.

[2017-11-27 14:20] lbalmaceda commented on #90
Probably will release on Wednesday these 2 things.
Related: https://github.com/auth0/auth0-java/issues/85

[2017-11-27 14:20] #90 closed

[2017-11-27 19:36] sbityakov opened #91 "Support for http proxy"
Looking at the code there is no way to set up an http proxy for AuthAPI to use.  Would like to be able to set proxy (URL or host/port) on the AuthAPI object.  The code I was reviewing is in AuthAPI constructor:
[code]
Please let me know if I'm missing something here.  Thanks!

[2017-11-27 19:55] sbityakov commented on #91
OK, thanks for the response.  I'll roll my own for now.

[2017-11-29 11:36] richard-hulm commented on #90
+1 this will be useful

[2017-11-29 13:54] #88 closed

[2017-11-29 16:00] drazzib opened #94 "Request: publish new release with v2/users-by-email endpoint"
Hi!

As you might already know, Auth0 API now provide a new - optimized - endpoint to fetch user by their emails : https://auth0.com/docs/api/management/v2#!/Users_By_Email/get_users_by_email

I've seen there is some existing code (7625adb4596a349f434f5226db71142aeb48c6b5) for supporting this new API in auth0-java. @lbalmaceda, do you plan to publish a new release soon ?

Regards,

[2017-11-30 16:32] jebbench opened #95 "Support for POST /api/v2/jobs/users-exports"
Since we're now unable to query the management api to find users based on our own internal ID we're forced to create our own local cache of user accounts; the Auth0 recommended way to do this is to use the export job method on the management API however this doesn't appear to be supported by the Java API.

We need at least support for:
 - https://auth0.com/docs/api/management/v2#!/Jobs/post_users_

[2017-11-30 16:36] lbalmaceda commented on #95
@jebbench we're not planning to add this in the near future. I'll tag it as a nice to have for now.

[2017-11-30 16:41] jebbench commented on #95
@lbalmaceda - no worries; we'll hammer the https://auth0.com/docs/api/management/v2#!/Users/get_users in the meantime.

[2017-11-30 20:37] #86 closed

[2017-12-01 17:07] lbalmaceda commented on #94
Released 1.4.0. Read the changelog for more information.

[2017-12-01 17:07] #94 closed

[2017-12-11 08:31] drazzib opened #99 "Support for Auth0 Rate Limits"
It would be great if Auth0 Java SDK provides support for a more convenient way to [retrieve rate limits from HTTP headers](https://auth0.com/docs/policies/rate-limits#http-response-headers).

For instance, I see two way of improving support :
A. Provide simple accessors for Limit, Remaining, Reset attributes on each returned response
B. Replace com.auth0.APIException by a more precise exception

[2017-12-12 11:53] vgolovina opened #100 "Connection leakage - during VoidRequest processing its response body wasn't closed"
We use 1.3.1 version.
Every time we call _auth.resetPassword(email, connection).execute()_ we afterwards get warning and stack trace in logs:

Seems like it is caused by https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/net/VoidRequest.java - when the response is successful, it won't be processed at all, but it should be closed to avoid the issue.

[2017-12-12 17:02] davet54321 commented on #91
Would it be possible to solve this in 2 steps instead of 1. First step just expose ability to use proxy (without authentication). Second step handle the more complicated case of authenticated proxy.

I have a use case which needs a proxy (but not an authenticated one), so just solving the first case would be enough for me.

[2017-12-26 21:17] lbalmaceda commented on #100
I couldn't reproduce it but good catch! The body isn't closed on a successful `VoidRequest` case. Will fix.

[2017-12-27 12:46] #100 closed

[2018-01-29 11:49] priyasharma1 opened #103 "Reset password method doesn't throw an exception when a wrong emailAddress is passed"
When an email address is passed which does not belong to any user, failed log is generated but an exception is not thrown. But in general behavior when using the login method if email or password is wrong, an exception is thrown, So I was excepting a similar behavior,
Please guide me if I am on the wrong track.

[2018-01-29 13:13] lbalmaceda commented on #103
The reset password endpoint, which actually just sends a reset password email to the owner, won't fail even if the email doesn't belong to a valid user. This is to prevent email enumeration. When you're doing log in instead, your IP would be blocked if you try several times with a wrong email/password combination.

[2018-01-29 13:24] priyasharma1 commented on #103
Thanks for the reply @lbalmaceda!
But then how will we be able to find out whether the mail was sent successfully or not.

As the logs generated are as follows
![screenshot from 2018-01-29 18-50-25](https://user-images.githubusercontent.com/14103632/35512299-50e00380-0525-11e8-8571-e0a4ea8fd32b.png)

[2018-01-29 13:33] lbalmaceda commented on #103
There's no way for you to know that from the app you're calling the endpoint, no. The error you attached is that no user with that email exists so the call to the reset endpoint fails. But if for some reason the user exists and the email fails to be sent, the error you get in the dashboard would be a different one, talking about the email provider issue.

[2018-01-29 13:59] priyasharma1 commented on #103
That's right if the email fails even when the user exists, then it's considerable that the error is not returned.
But in case the user doesn't exist then the call should fail and an error should be returned.
What do you think?

[2018-01-29 14:20] lbalmaceda commented on #103
This is just an implementation of the Authentication API. As you can see [here](https://auth0.com/docs/api/authentication#change-password) the endpoint itself doesn't return other than that status code `200`. I suggest you contact https://support.auth0.com and open a feature request if that's your concern.

[2018-01-29 14:29] priyasharma1 commented on #103
Thanks for all the help @lbalmaceda. I will try to handle this our application side.

[2018-01-29 14:34] #103 closed

[2018-01-29 20:54] DimitriLubenski opened #104 "Please Support Custom Domains (Auth0 feature)"
Provided the tenant is configured using the custom domain login.mycompany.com.

Provided the controller initialized this way, where domain parameter is defined as login.mycompany.com

controller = AuthenticationController
                    .newBuilder(domain, clientId, clientSecret)
                     .build();

Generally, if I use a custom domain login.mycompany.com the authentication url sho

[2018-01-30 06:15] priyasharma1 opened #105 "Algorithm.RSA method deprecation warning"
Hi @lbalmaceda
I am receiving this warning whenever on every build.

The dependencies I am using are -
java-jwt-3.3.0,jar
jkws-rsa-0.1.0.jar

Is the support for this method going to be discontinued?

[2018-01-30 12:16] lbalmaceda commented on #105
The JWT library is the latest and for JWKs you have 0.3.0 now. Try updating them first and see if the message goes away, or please provide more details as I don't understand the issue. Cheers

[2018-01-30 13:43] priyasharma1 commented on #105
Yes that worked. Thanks!

[2018-01-30 13:43] #105 closed

[2018-01-30 17:21] lbalmaceda commented on #104
Hi @DimitriLubenski. Custom Domains are supported out of the box on existing SDKs just by using the custom domain instead of the auth0 tenant one. This means that if your auth0 tenant is `mycompany.auth0.com` you would use `login.mycompany.com` when initializing the `AuthAPI` instance.
For built-in APIs such as "userinfo" and "management v2" you still need to use the auth0 tenant domain as pointed

[2018-02-01 20:07] anandchakru opened #106 "com.auth0.RequestProcessor.process is not returning userId"
the library takes an effort to make an api call to fetch the **userId**, `userId = fetchUserId(tokens.getAccessToken());`  just to check if its null. If it could return it back to the clients, would save clients making another api call to the auth0

[2018-02-01 20:12] lbalmaceda commented on #106
@anandchakru If you need to know the `user id` of a user, you can simply decode the token and get the `sub` claim. Is that your question?

[2018-02-02 10:39] priyasharma1 opened #107 "Verification via phone using JAVA SDK"
Is there any support to verify user's phone or sent OTP to user's phone using the Java SDK?

[2018-02-02 17:51] anandchakru commented on #106
yes I'm trying to fetch the user id, would `jwts.decode` give me the user id ?

[2018-02-03 08:32] lbalmaceda commented on #107
What you need is what we call passwordless log in. There's no way to do passwordless log in from this SDK unless you change your hosted login page script to one that supports passwordless and use the authorize url builder class to log in that way. I suggest you read the docs for that on the auth0 site.
If you already have a way to send the OTP, using the management API you should be able to change

[2018-02-03 08:39] lbalmaceda commented on #106
Please read the tokens section of the auth0 site to understand what are they used for and what are they contents. Depending on if you're asking for a custom api audience or not, the access token could be a JWT. The id id token is always a JWT. In any case, take a JWT decoder library like java-jwt and decode the token (must be a JWT) and extract the claim named subject (sub). That value represents

[2018-02-03 08:39] #106 closed

[2018-02-05 08:05] priyasharma1 commented on #107
Thanks for the guidance @lbalmaceda.
I'll explore more around the requirements, and figure out a way.

Using the management API could be a solution though.

[2018-02-05 08:05] #107 closed

[2018-02-05 16:57] ofyaniv opened #109 "signup method of Auth0 Java Client is throwing ClassCastException when specified password strength does not meet password complexity rules"
signup method of Auth0 Java Client is throwing ClassCastException when specified password strength does not meet password complexity rules.

On signup - if the specified password value violates the configured password complexity rules for the related connection - the Java client is throwing  ClassCastException  ( attempt to cast Map into a String ),

[2018-02-05 23:16] #109 closed

[2018-02-12 02:24] gabrielstellini opened #110 "Add scope example"
https://community.auth0.com/questions/8857/how-do-i-get-a-user-email-address-via-java-code

[2018-02-12 02:25] #110 closed

[2018-02-12 15:45] lbalmaceda commented on #110
Probably you've already figured it out by yourself, but just for the record: Depending on which method you're using to log the user in, the name of the method to call changes.

- When redirecting the user to the Universal Login page, you'd need to call [withScope](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/auth/AuthorizeUrlBuilder.java#L86) and customize it when

[2018-02-12 18:11] DimitriLubenski commented on #104
Hi Luciano,

I know, what my issue is. I am following the guide for spring integration, which relies on the follwing bean configuration:

@Bean
public AuthenticationController authenticationController() throws UnsupportedEncodingException {
    return AuthenticationController.newBuilder(domain, clientId, clientSecret)
            .build();
}

If I set the domain to the custom domain, it uses it in

[2018-02-12 18:38] lbalmaceda commented on #104
Can you please post the link to the guide you're following? thanks

[2018-02-12 18:39] DimitriLubenski commented on #104
https://auth0.com/docs/quickstart/webapp/java-spring-security-mvc/01-login

[2018-02-12 18:54] lbalmaceda commented on #104
The sample relies on the [mvc-common](https://github.com/auth0/auth0-java-mvc-common) library. The AuthenticationController will work just fine if you pass your custom domain as the domain parameter. But note as I said in my first comment:

This means that, at least in the sample you've linked, you'd need to edit the method that it's generating the Authorize URL and make it use as audience your Au

[2018-02-12 19:04] DimitriLubenski commented on #104
That was also my first thought. Unfortunately it does not work (Request failed with status code 401: Unauthorized). The only way to get it working is to initialize the AuthenticationController with original domain AND assure the authorizeURL is "hacked" to point to the custom-domain (for sure the audience will contain the original auth0 domain).

[2018-02-12 19:20] lbalmaceda commented on #104
I've made the changes shown in my previous comment and the sample works fine (I can log in in https://localhost:8080).

In the `/resources/auth0.properties` file I'm using the details of my auth0 client. In particular for the domain I'm using the **custom domain** associated with my tenant. The only change left is in the `LoginController` where I request the userinfo audience using my **auth0 doma

[2018-02-12 19:34] DimitriLubenski commented on #104
That is exactly what I do. In the log I see (if debugging is enabled), that the token exchange goes to https://login.mycompany.com which causes "Unauthorized" (that is expected because it may not go to the custom domain according to the documentation). The reason is, that even if the .withAudience set to https://mycompany.auth0.com/userinfo, this is only applied to the authorizationURL itself and

[2018-02-12 19:43] gabrielstellini commented on #110
To further add to the answer, here's how the updated code would look like for [LoginActivity.java](https://github.com/auth0-samples/auth0-android-sample/blob/master/06-Calling-APIs/app/src/main/java/com/auth0/samples/LoginActivity.java)

    private void login() {
        Auth0 auth0 = new Auth0(this);
        auth0.setOIDCConformant(true);
        WebAuthProvider.init(auth0)
                .with

[2018-02-12 22:43] lbalmaceda commented on #110
@gabrielstellini please note that the code you shared does not correspond to this auth0-java library, but to [the android one](https://github.com/auth0/Auth0.Android) instead.

[2018-02-16 03:38] darkyen commented on #104
Hi Dimitri,

We tried reproducing the issue however we were not able to replicate the issue with the latest versions of the SDKs, as this seems like a use-case specific case, we'd like to move the conversation to support-center and handle it appropriately. I have opened a ticket for you and we'll reach out to you via support center.

[2018-02-16 14:00] lbalmaceda commented on #104
I'll proceed and close this issue then.

[2018-02-16 14:00] #104 closed

[2018-02-21 13:06] priyasharma1 opened #111 "Set scope when requesting a token for management API"
The token received has all the scopes set to it, thus we wish to restrict the token to just have scope to read, create or update a user or any other scope depending on the situation.
We are using AuthAPI.requestToken to get the token for an audience.

Is there a way to do that?

[2018-02-21 13:51] lbalmaceda commented on #111
That method returns you an instance of `AuthRequest`. You should be able to call `request.setScope("read:users")` or whatever scope you need to be granted on that specific call, before calling `execute()`

Also on the Auth0 dashboard if you to to [APIs](https://manage.auth0.com/#/apis/) and click the "Auth0 Management API", you can select under the "Non-Interactive Clients" which clients are allow

[2018-02-21 13:51] #111 closed

[2018-03-07 03:47] kanikaar commented on #62
Dont know about java api but a simpler way is as i commented here using Auth0 Rule:
https://stackoverflow.com/a/49143694/1685678

[2018-03-07 12:43] lbalmaceda commented on #62
@kanikaar Although that rule works you're not triggering it with a "user action". Instead, you are sending an email after every failed login which IMO is kind of spammy 😅. Be aware that email providers block such behaviors and may treat your email source address as SPAM.

[2018-03-19 23:12] crizo23 opened #114 "Add "jobs" API calls to java client library"
Or am I missing this in the java library? I need to make calls such as: https://auth0.com/docs/api/management/v2#!/Jobs/post_verification_email

[2018-03-20 13:54] lbalmaceda commented on #114
I'm closing this as it's a dupe of https://github.com/auth0/auth0-java/issues/62.

[2018-03-20 13:54] #114 closed

[2018-04-06 09:21] cascer1 opened #115 "Examples in readme don't work"
Hi,

I'm trying to implement some management API functionality in my program but ran into some issues while examining the examples in the readme file.

**TL;DR:** methods return different types than they should, making the examples unusable.

I'll use the example for listing users by email.

[code]

When I enter this code in my editor, I get a warning that the `listByEmail` method returns a differ

[2018-04-06 09:40] cascer1 commented on #115
It looks like #102 solves this issue.

[2018-04-06 09:40] #115 closed

[2018-04-06 14:47] lbalmaceda commented on #115
Sorry about that. I'll merge that PR now 👍

[2018-04-20 15:19] d60402 opened #118 "NPE when getting user log events without totals"
The following code...

    ManagementAPI mgmt = new ManagementAPI(DOMAIN, TOKEN);
    LogEventFilter filter = new LogEventFilter();
    Request<LogEventsPage> request = mgmt.users().getLogEvents("auth0|123", filter);

    try {
        LogEventsPage response = request.execute();
        ...
    } catch (Exception exception) {}

...throws a NPE...

    Exception in thread "main" java.lang.NullPoint

[2018-04-24 15:08] minhlongdo commented on #62
@lbalmaceda is this feature being internally worked on?

[2018-04-24 17:44] lbalmaceda commented on #62
@minhlongdo this feature is being tracked internally, but there is no progress so far, no.

[2018-04-25 17:54] minhlongdo commented on #62
@lbalmaceda so then I will pick it up, would that be ok? :)

[2018-04-25 18:33] lbalmaceda commented on #62
of course! 🎉 PRs are more than welcome. Feel free to copy/paste an existing entity such as `LogEventsEntity` and keep 1 POST method to send the verification email. The entity should be named  `JobsEntity` and have it's behavior tested. I'll be reviewing your PR.

[2018-04-26 18:14] ledjon opened #119 "Handling mfa_required response?"
According to the [auth0 docs](https://auth0.com/docs/api-auth/tutorials/multifactor-resource-owner-password#prerequisites) we can use the auth api to login users that have MFA enabled.

The behavior is that the API will respond (after checking user/pass) with a 403 and the body of something like

[code]

You can then take the mfa_token and continue the response cycle with your end user.

The way t

[2018-04-26 20:49] ledjon commented on #119
Thank you for the quick response.  I went on reading the docs and looking at what the SDK could do and discovered that there are probably a couple of gaps that would need to be addressed.  But yes reading that property from the error response would be a great first step, as that would allow me to get up to that point using the SDK and then only have to call a limited number of APIs directly.

[2018-04-27 02:09] jeacott1 commented on #79
nice to see this was actually added. https://github.com/auth0/auth0-java/commit/887b0e7857a250d2664803f95d48bb93d0d2ebed

[2018-04-27 02:16] jeacott1 opened #121 "Release 1.5.1 is missing git tag."
the last tagged release in github is 1.3.1,
the suggested usage release in the readme, and in maven central is 1.5.1

[2018-04-27 02:17] jeacott1 commented on #62
+1 this really should exist, as should the entire api.

[2018-04-27 08:55] minhlongdo commented on #62
@jeacott1 Yh I was thinking of that as well, I think I could pick those up if you guys don't mind?
@lbalmaceda I got a PR for you https://github.com/auth0/auth0-java/pull/120, let me know if something is wrong, it is my first time contributing to opensource :)

[2018-04-27 13:48] minhlongdo opened #122 "API documentation does not match with the provided functionality"
Hi,

I am trying to create an endpoint with the logout functionality and have read the API's documentation.
However, it seems like the API documentation is not aligned with the codebase's functionality.

[code]

It says `.withAccessToken("A9CvPwFojaBIA9CvI");` but there is no such method.

Could someone confirm if the documentation is wrong/correct?

[2018-04-27 14:31] minhlongdo commented on #122
I was trying to figure out a way to logout on the backend side and found this inconsistency. How would you recommend the server-side to logout, or should it be handled in the front-end only? Currently, I am providing the front-end with the `access token` through the back-end, so I would imagine the logout should also go through the back-end or am I missing something?

[2018-04-27 18:37] lbalmaceda commented on #121
We don't sync github _releases_ with the latest tags. But the package can be found uploaded both on bintray and maven central after each release. If you need to check the code of each version, use the github _tags_.
Cheers

[2018-04-27 18:37] #121 closed

[2018-04-27 20:36] lbalmaceda commented on #79
@jeacott1 yeah there was a use case I wasn't aware of so we added it 👍

[2018-05-04 15:33] ledjon commented on #119
@lbalmaceda thank you very much for getting this change implemented and merged in.

From what I could tell of the change this allows the caller to get accss to the extra fields in the error which is a great first step.

Is there a plan to implement the rest of the mfa API calls needed to do the full workflow via the sdk?   I don't remember the specifics right now but I'm pretty sure there are some

[2018-05-04 19:00] lbalmaceda commented on #119
Correct, the introduced changes let you obtain any value from the response error object. Regarding the missing MFA endpoints I have added that to our TODO list but I can't give you an ETA. You should be able to call them yourself, maybe the `CustomRequest` class helps you to construct them. Eventually all endpoints both for authentication and management will get implemented. 🎉

[2018-05-18 13:27] ewal31 commented on #62
Is this ever going to be reviewed and merged?

[2018-05-18 18:34] minhlongdo commented on #62
@ewal31 I don't know, the PR has been open for a while now, @lbalmaceda is the PR currently actively under review?

[2018-06-01 21:24] housepage opened #125 "Resource Owner Password with MFA"
It looks you added functionality  to APIException that allows you to access the values in the error map. I need the `mfa_token` field from this map to implement the resource owner password flow with mfa. When will you be releasing the next version and/or could you possibly release a version that just contains that improvement?

[2018-06-01 21:39] lbalmaceda commented on #125
@housepage I wanted to release that earlier but couldn't, and I can't make a release this week. Will probably release the next week as soon as the 2 open PRs are reviewed and merged by my team. 👍

[2018-06-01 21:42] housepage commented on #125
@lbalmaceda Thank you for the quick update. That should be in plenty of time for what I'm working on. What's the best way to stay informed if that release is going to slip any further into the future.

[2018-06-03 09:02] romain-rossi opened #126 "Missing query filter parmeters on ClientGrantsEntity#list()"
- version 1.5.1

Based on the [Management API v2](https://auth0.com/docs/api/management/v2#!/Client_Grants/get_client_grants) documentation, the method [ClientGrantsEntity](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/ClientGrantsEntity.java)#list() doesn't allow to provide the filtering parameters: per_page, page, audience and client_id.

Or, is there any ot

[2018-06-04 15:46] lbalmaceda commented on #126
Either I missed them or they weren't available back when I added the methods. I'll leave this open as a reminder so we can add a new method that accept a "filter class" to provide those more easily.

In the meantime, remember that after calling the method you get a `Request` instance back. You should be able to add query parameters by calling the next method before executing the request:

[code]

[2018-06-04 16:03] romain-rossi commented on #126
Thank you @lbalmaceda for your quick answer.

I tried to apply the above workaround but OkHttp doesn't allow body to the GET request method (the added parameters are added as JSon request body when the OkHttp is created).

[2018-06-04 17:08] lbalmaceda commented on #126
Sorry, I should have checked before telling you that. You're right, the `addParameter` adds body parameters not the query ones and once the request is created the URL can't be changed so there's no way to add query parameters to a Request as of today. Would be nice to add a `addQueryParameter` method to the `CustomRequest` class in the future.

Meanwhile, while it sucks having to create the reques

[2018-06-04 17:41] romain-rossi commented on #126
Thanks @lbalmaceda. I was thinking to create the request from scratch. But like you said, "it sucks" :-) (a lot of boilerplate code to "simply" add request parameters).

For now, I don't have a lot of client grants, so I doing the filtering after getting all of them...

Do you know when we could expect this feature?
If it can help, I could provide a pull request to add the request parameters to th

[2018-06-04 17:54] lbalmaceda commented on #126
Adding pagination is part of our backlog for the next 3-4 weeks, and that includes the `ClientGrantsEntity`. We've already started with the `ClientsEntity` as you can see on the open PRs list. Of course if you want you can provide a PR to tackle this one but eventually it will be included, so it depends on how fast you require it. The logic would be similar to the `LogEventsEntity`: A new `list` m

[2018-06-04 18:07] romain-rossi commented on #126
3-4 weeks delay is fine for me :-)
Thanks again for you quick replies!

[2018-06-04 18:16] lbalmaceda commented on #125
We don't have a good channel to communicate those, unfortunately. I'm going to make a release now with the existing non-released changes. 1.6.0 should be available in the next hours, keep an eye on that release PR. I'll close this one.

[2018-06-04 18:16] #125 closed

[2018-06-11 21:02] #62 closed

[2018-06-11 21:11] lbalmaceda commented on #118
I've just tried this and it's already fixed. Feel free to open a new issue if another error raises.

[2018-06-11 21:11] #118 closed

[2018-06-14 01:30] seanajar opened #131 "Allow Refresh/Update of Management Api Token"
As it stands there appears to be no easy way to refresh the `apiToken` of a `ManagementApi`. Since the token used here has an expiration, a new `ManagementApi` requires instantiating with a new valid token when this occurs.

The problem arises with the use of the `OkHttpClient` instantiated with a `ManagementApi`. This leads to a memory leak, as each successive `ManagementApi` creates a new `OkHtt

[2018-06-14 15:40] lbalmaceda commented on #131
Yes, that makes sense. Thanks for raising this up. The new api token would be used on the next call to any of the entities' methods, since it's passed on that call e.g. https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/ManagementAPI.java#L160

[2018-07-02 10:47] ivanz opened #133 "Support User Search v3 API out of the box"
Based on this https://auth0.com/docs/users/search/v3#migrate-from-search-engine-v2-to-v3 , this library should support v3 api.

From what I can see, currently, the `UserFilter` is defaulting to the v2 API here: https://github.com/auth0/auth0-java/blob/faf4adfe0e7a7e14861737a289424f2172d92fcf/src/main/java/com/auth0/client/mgmt/filter/UserFilter.java#L12

[2018-07-02 15:00] lbalmaceda commented on #133
@ivanz Yes, this is already on our backlog and we plan to add support for customizing this as well as eventually removing the default value since it's going to be shut down soon. I'll keep this open for visibility.

[2018-07-03 06:31] VolkerK commented on #133
I just came around the same issue.
My workaround for now is
[code]
I guess that should work fine, till the new version is released.

[2018-07-03 16:16] ivanz commented on #133
Mine:
[code]

[2018-07-03 21:01] lbalmaceda opened #134 "Deprecate list methods that have a paginated alternative"
After adding pagination to a bunch of entities, old methods that remain there for retro-compatibility should be deprecated and tell the user to use the new one instead.

This issue is here to track that and adding a mention in the Readme regarding pagination.

[2018-07-04 18:13] #126 closed

[2018-07-05 20:06] hrstoyanov opened #138 "Please upgrade to gradle 4.8.1"
... just edit your gradle\wrapper\gradle-wrapper.properties:
[code]

[2018-07-12 13:41] MarcAgate opened #139 "Javadoc for this API ?"
Hi, I cannot find a link to any javadoc for this API, should I generate it by myself or is it published somewhere ?

[2018-07-12 13:48] lbalmaceda commented on #139
We don't publish them anywhere but are included in the dependency itself. e.g. for 1.7.0 if you look in your maven folder you'll find them.

[code]

Direct [download link](http://search.maven.org/remotecontent?filepath=com/auth0/auth0/1.7.0/auth0-1.7.0-javadoc.jar) obtained from [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.auth0%22%20a%3A%22auth0%22)

[2018-07-12 13:48] #139 closed

[2018-07-12 14:03] MarcAgate commented on #139
Thanks ! (I had generated it already,but it's good to know)

[2018-07-12 21:02] #133 closed

[2018-07-13 19:56] #131 closed

[2018-07-18 20:38] lbalmaceda commented on #63
Added here https://github.com/auth0/auth0-java/pull/108

[2018-07-18 20:38] #63 closed

[2018-07-20 10:08] jtepe opened #143 "Add the owners response property for getClients"
The [getClients](https://auth0.com/docs/api/management/v2#!/Clients/get_clients) Management-API response includes the ownes array for the tenant "client" itself. That's currently not part of the Client reponse object. Would it be possible to add that, or this supposed to be excluded by design? This would include the [getClient](https://auth0.com/docs/api/management/v2#!/Clients/get_clients_by_id)

[2018-07-27 14:30] guizmaii opened #144 "Drop support for Java < 8 and execute the requests using the non-blocking HTTP client"
Hi,

Could be great to drop the support for Java versions inferiors to 8.
They're not maintained anymore and Java 8 brings great things for asynchronism.

Your clients still using older version of Java could still use previous versions of this lib.

A PR is already ready for the "execute the requests asynchronously" part of this issue here: https://github.com/auth0/auth0-java/pull/112

I make this

[2018-07-27 14:35] lbalmaceda commented on #144
Hey Jules, I agree. We'd like to release a new major eventually, removing deprecated endpoints and dropping support for Java7, but the priorities are different in our backlog today. I'll leave the issue open this time.
Cheers

[2018-08-13 13:57] yass-arafat opened #145 "Scope issue during creation of custom email template"
While trying to create, update email template in auth0 i am getting scope issue saying

although the scope is set in the API's Scope settings.
![screenshot-manage auth0 com-2018 08 13-19-52-15](https://user-images.githubusercontent.com/23176168/44035952-7925118a-9f32-11e8-8045-4654ae20291f.png)

My code is
[code]
Did i miss anything or is there any way to do it?

[2018-08-13 14:55] lbalmaceda commented on #145
The JSON web token you're using to instantiate the `MgmtAPI` must have those scopes granted. You can do that using the `AuthAPI` as explained in the readme. Remember to request the proper `audience` and `scope` when you ask for the JWT.

More about tokens: https://auth0.com/docs/api/management/v2/tokens

[2018-08-14 11:37] yass-arafat commented on #145
Thanks for your reply. The issue was with the of my JWT token. I checked here https://jwt.io/ and found that my latest added scope are not added in my API Token. Adding thing from auth0's API dashboard, it worked.

[2018-08-14 11:37] #145 closed

[2018-08-21 16:35] rrybalkin opened #146 "Application's (aka Client) description field support"
Hi,

The current implementation of Auth0 Clients API supports the `description` field in json schema https://auth0.com/docs/api/management/v2#!/Clients/get_clients, when it seems to be lost in the `Client` object https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/client/Client.java

Would be nice to have Java API be aligned with REST and support the description field

[2018-09-04 21:01] jcd006 commented on #91
@lbalmaceda We have a similar requirement to call Auth0 through a forward proxy for ManagementAPI and AuthAPI.

Can the httpclient be exposed through a constructor so that I can set my own proxy?

[2018-09-04 21:12] sappenin commented on #91
Echoing the request above, possibly doing something like this:

[code]

[2018-09-07 21:36] jcd006 commented on #91
@lbalmaceda I've raised another MR. #150 This one doesn't expose any okhttpclasses. It uses java.net.Proxy for proxy and java.net.PasswordAuthentication for proxy authentication.

[2018-09-25 13:51] #146 closed

[2018-09-25 17:29] #99 closed

[2018-10-02 13:01] Aiden007700 opened #156 "README spelling URL"
url => URL
URL when not part of a code snippet should be URL.

[2018-10-10 15:09] vaibhavsingh1993 commented on #156
@Aiden007700 is correct, added another PR (on top of #157).
 https://github.com/auth0/auth0-java/pull/159

[2018-10-11 17:55] joelash opened #160 "v1.9.0 not in maven?"
Looks like version 1.9.0 didn't get uploaded to maven.

<img width="1730" alt="cleanshot 2018-10-11 at 12 54 24 2x" src="https://user-images.githubusercontent.com/64599/46823814-d0461180-cd54-11e8-8a9a-3c0f9cc647a1.png">

[2018-10-11 17:56] lbalmaceda commented on #160
@joelash True. I just synced it. Expect it in a few hours.

[2018-10-11 17:56] #160 closed

[2018-10-17 00:36] adrian-baker opened #162 "grant_types is missing from com.auth0.json.mgmt.client.Client"
`grant_types` is missing from `com.auth0.json.mgmt.client.Client`, which means it's not possible to update this field using this sdk.

[2018-10-17 14:40] lbalmaceda commented on #162
Thanks! It's indeed missing https://auth0.com/docs/api/management/v2#!/Clients/patch_clients_by_id

Feel free to make a PR to add this and I'll review it.

[2018-10-19 20:13] Jazzepi opened #165 "com.auth0.exception.APIException for Grant type gives bad URL"
com.auth0.exception.APIException: Request failed with status code 403: Grant type 'http://auth0.com/oauth/grant-type/password-realm' not allowed for the client.

https://auth0.com/oauth/grant-type/password-realm leads to a 404 page. Either the page should be restored, or the link should be changed. I'd put in a PR but I have no idea what the link is suppose to be.

[2018-10-19 20:15] Jazzepi commented on #165
Maybe this? https://auth0.com/docs/applications/application-grant-types

[2018-10-22 14:13] lbalmaceda commented on #165
That is the grant type value, not necessarily a valid URL. The error comes from the authentication server.

[2018-10-22 14:13] #165 closed

[2018-10-23 16:53] #162 closed

[2018-10-24 18:47] Soundug commented on #156
Is this issue still open?

[2018-10-24 19:09] lbalmaceda commented on #156
No. Seems this is already fixed with #159. Thanks

[2018-10-24 19:09] #156 closed

[2018-10-24 19:10] lbalmaceda commented on #138
Present in master

[2018-10-24 19:10] #138 closed

[2018-10-26 20:31] nartz opened #173 "Access App metadata in IdToken"
Hi - my goal is to be able to access the app metadata when a user authenticates themselves. I've properly added a Rule to copy the app metadata to the idToken, copying this:
https://community.auth0.com/t/how-to-retrieve-user-metadata-in-the-id-token/6667

Also i've added console.log does show the data in there properly.

How can I then access that app_metadata using auth0-java? The idToken is simp

[2018-10-26 20:37] nartz commented on #173
Ah it appears it is showing up when calling userInfo now - although not sure what changed while I was debugging (maybe just slow to propogate the rules on the auth0 side...)

[2018-10-26 20:37] #173 closed

[2018-10-26 20:40] lbalmaceda commented on #173
If you're going to use the contents of the `id_token` you should first verify it's signature (otherwise you shouldn't trust it). You can do that with any JWT library that accepts RS256 algorithm verification by pulling its cert from your domain's `.well-known` path. Alternatively, you can make a second request to the /userinfo endpoint like you did above using the received `access_token`, and the

[2018-10-28 15:50] kagof commented on #61
Would this be something that is still wanted? I'd be happy to make PR for it if so!

[2018-10-29 16:29] lbalmaceda commented on #61
@kagof I think the original intention of this issue was to have some POJO that acted as a generic map of String/Object entries. But I rather leave this for the next major.

[2018-11-14 19:33] j-m-x opened #174 "Connection leak on receiving the RateLimitException introduced in 1.9.0"
The RateLimitException detection is working perfectly, but unfornately the current implementation forgets to close a response body, hence the following warning in the logs:

`WARNING: A connection to https://<ommited>.auth0.com/ was leaked. Did you forget to close a response body? To see where this was allocated, set the OkHttpClient logger level to FINE: Logger.getLogger(OkHttpClient.class.getNam

[2018-11-14 19:46] lbalmaceda commented on #174
`ResponseBody` is a [class that implements](https://square.github.io/okhttp/3.x/okhttp/okhttp3/ResponseBody.html) `Closeable`. Normally, after asking for the body to the response I'd have a `finally` block that closes it, just in case. But this is already done with the new `try` syntax that handles the `Closeable` for you. Examples:

- Success request scenario: https://github.com/auth0/auth0-java/

[2018-11-14 20:00] j-m-x commented on #174
I understand, after reading the docs off the OkHttp lib and agree. I just noticed my logs getting populated by the warning that I mention in the issue I created every time I hit the RateLimitException. Figured I investigate a bit, and after moving the check inside the try catch and creating a local build to run my code, no more warnings. If I understand correctly what you are saying, it means ther

[2018-11-15 19:10] lbalmaceda commented on #174
@j-m-x

This only says that the body can be obtained by calling the `response#body` method. Of course if you did that, you need to close the body later.

However on the `ResponseBody` [docs](http://square.github.io/okhttp/3.x/okhttp/okhttp3/ResponseBody.html) I've found this interesting piece:

So it seems we need to close the response, no matter if we have read the body or not. However, I don't l

[2018-11-15 19:14] lbalmaceda commented on #174
Alternatively, you could move all this into a try/catch/finally block similar to this:

[code]

[2018-11-15 19:46] j-m-x commented on #174
@lbalmaceda

Thanks for your reply and taking the time to investigate this issue. I agree with you that my current PR is a little crude, I will improve it based on your suggestions, most likely sometime next week.

[2018-11-19 23:14] pbodor opened #176 "Created user does not return a user id"
CreatedUser returned by AuthAPI#signUp does not return userId correctly. Json mapping is using "_id" while the response json is "user_id".

[2018-11-20 15:34] lbalmaceda commented on #176
Thanks for the report! I guess this was taken from the docs https://auth0.com/docs/api/authentication#signup. I'll also notify the team responsible for that page so we can all be on sync.

![image](https://user-images.githubusercontent.com/3900123/48784002-84c24400-ecc0-11e8-92f5-ce22647cff7e.png)

[2018-11-20 16:36] lbalmaceda commented on #176
@pbodor I just tried this via curl and the id comes as the image attached above in the `_id` property. How are you calling this endpoint?

[2018-11-20 21:21] pbodor commented on #176
This is using the java sdk AuthAPI.signUp(...) method. In debugger I can see the following:
![image](https://user-images.githubusercontent.com/29469591/48803389-a4b43f00-ed76-11e8-91fa-a59644bcd3e4.png)

you can see that "user_id" in response body does not match the CreatedUser expected "_id".

[2018-11-20 21:57] pbodor commented on #176
We're using a custom DB. We have a number of rules in place, but I still get the issue when all of them are disabled.

[2018-11-21 10:41] dmytrovskyi opened #177 "Get user by id doesn't return given_name and family_name"
I need to get the user information from auth0. When I put fields given_name and family_name in the field list I got error

[code]

When I put all fields form the given list in the field list in response in User object fields "givenName" and "familyName" is null. But field "name" has value.

How I can get the given_name and family_name separately?

[2018-11-21 15:39] lbalmaceda commented on #176
@pbodor This seems to happen only for custom db connections at this time. Alternatively you could log the user in and call the [/userinfo endpoint](https://auth0.com/docs/api/authentication#user-profile) using the access token or find the `sub` claim inside the ID token payload.

I've commented this internally since it's not an error of this SDK but I suggest you raise a ticket through https://sup

[2018-11-21 20:57] lbalmaceda commented on #177
This is not an issue or a limitation of this SDK but from the API itself. I've commented this internally but I suggest you fill a ticket through https://support.auth0.com. Thanks for the report

[2018-11-22 14:16] lbalmaceda commented on #177
@dmytrovskyi please for the time being, try calling the same endpoint without passing any fields. You will obtain the full user profile, including `given_name` and `family_name` properties. (I just tested this)
Cheers

[2018-11-22 14:16] #177 closed

[2018-11-29 19:51] j-m-x commented on #174
Sorry for the long wait, but I've been struggling to decide the best approach here and I would like some feedback on the 3 options I have available as a solution. But before I start I would like to mention the following: For the test I needed to mock the `okhttp3.Response` class in order to do something like this in my test:

[code]

Unfortunately this class is a final class, so I had to use the `

[2018-11-29 20:36] lbalmaceda commented on #174
Regarding testing a final class, I'll try to avoid it when possible (I've never tried the approach you suggested though). But note that `ResponseBody` is not final and you can still mock it. And from the [docs](http://square.github.io/okhttp/3.x/okhttp/okhttp3/ResponseBody.html), calling close() on the `Response` instance (final class) is the same as calling it directly to its body:

If this gets

[2018-11-29 21:13] j-m-x commented on #174
Thanks for your quick reply, glad you agree on the third option. I'll spent some extra time on figuring out a way to test this in a simpler way not mocking a final class. Using the `ResponseBody` is something worth trying.

[2018-11-30 10:12] j-m-x commented on #174
I've updated my PR with some minor changes to the third option. I didn't run all tests properly last night and with the code from my last comment it caused some other tests to fail. I have to explicitly catch and re-throw the `Auth0Exception` type in orde to not downgrade all exceptions to an `IOException`. I also realised this is the perfect place for a try-with-resources construction. What I pos

[2018-11-30 16:44] lbalmaceda commented on #174
Thanks! I left you some suggestions but it looks good overall!

[2019-01-03 14:07] #174 closed

[2019-01-08 14:56] david-wg2 opened #183 "Customizing Lock screen ?"
I'm going through the docs for UI customization (https://auth0.com/docs/libraries/lock/v11/ui-customization).

I thought logos/colors would be configuragble through https://manage.auth0.com/, but the docs show passing options to a JavaScript widget running on localhost.

Since I'm using this library, all I do is call `auto.authorizeUrl(...)` and redirect the user. Is there any way for me to config

[2019-01-08 15:21] lbalmaceda commented on #183
@david-wg2 what you see when calling the Auth0 Authorize URL is the Hosted Universal Login Page, which is using our [Lock library](https://github.com/auth0/Lock). You can customize the look and feel changing the options that the lock library offers by changing the page script in the dashboard. There's a doc explaining some customization [here](https://auth0.com/docs/hosted-pages/login/lock#customi

[2019-01-08 21:01] adrian-baker commented on #144
Isn't it better to leave it up to the caller to make the calls aynschronously?

[2019-01-09 10:53] guizmaii commented on #144
@adrian-baker The thing here isn't about synchronicity nor asynchronicity but about thread blocking. Of course you can do thread blocking async calls but you'll have to manage that (ie. execute that call on an unbounded execution context. For more information, read this: https://gist.github.com/djspiewak/46b543800958cf61af6efa8e072bfd5c)

The HTTP client used in this lib provides an non-blocking a

[2019-01-30 13:45] pavloskrontiras opened #184 "JWTDecoder NotSerializableException"
While trying to integrate auth0 in a test application that gets deployed to the Google AppEngine, the following exception occurs on this line of the code:

`SecurityContextHolder.getContext().setAuthentication(tokenAuth);
`
I used the sample code provided in the auth0 documentation.

`javax.servlet.ServletException: java.lang.RuntimeException: java.io.NotSerializableException: com.auth0.jwt.JWTDec

[2019-01-30 15:35] lbalmaceda commented on #184
I'm not familiar with Google App Engine. Can you please share the link to that auth0 article?

[2019-01-30 15:38] pavloskrontiras commented on #184
https://auth0.com/docs/quickstart/webapp/java-spring-security-mvc

[2019-02-01 22:34] fritzdj opened #185 "Feature Request: Support for Rules Config endpoints"
We have a use case where we would like to hit the GET, DELETE, and PUT rules-configs endpoints and would like this added to the client library.

GET: https://auth0.com/docs/api/management/v2#!/Rules_Configs/get_rules_configs
DELETE: https://auth0.com/docs/api/management/v2#!/Rules_Configs/delete_rules_configs_by_key
PUT: https://auth0.com/docs/api/management/v2#!/Rules_Configs/put_rules_configs_by

[2019-02-04 18:01] lbalmaceda commented on #185
@fritzdj I'll add this to our backlog. Note we can't provide any ETA on resolving this. But you're encouraged to propose a PR with a solution (probably mimicking what we have done for other endpoints).

[2019-02-28 15:55] menulis opened #188 "Query part of UserFilter is not supported in UsersEntity#get()"
auth0-java version: 1.10.0

I use app_metadata to associate Auth0 users to certain sites:

[code]
Say I want to get a list of users that are associated with site 12345, i.e. key "12345" is part of app_metadata.sites as per Lucene query syntax:

[code]
This works as expected and returns only the users matching the provided query on app_metadata. More specifically, the URL that `UsersEntity#list()`

[2019-03-04 15:45] chrisvire commented on #73
@lbalmaceda What are Java Desktop applications supposed to use?

[2019-03-07 23:18] lbalmaceda commented on #188
`users().list()` would perform a GET request to obtain a paged **list of users** that match the search criteria (what you typed in the query).

`users().get()` would perform a GET request to obtain a **single user object** with the given userId. In this case, the query parameter is ignored by the server as it's not accepted. You can use the `UserFilter` to decide which fields are going to be retur

[2019-03-07 23:37] lbalmaceda commented on #73
Definitely PKCE for now. We recently discussed adding this to the SDK. The only caveat I see is flows should be somewhat separated so people that want to use this SDK for a backend app don't end up using the PKCE flow by mistake, or vice-versa. I've added this as an item to our backlog. I'll keep you updated.

[2019-03-08 20:03] chrisvire commented on #73
@lbalmaceda That would be great!  I have an immediate need for this.  I need to release a product next month with this feature.  How can I help? Could I interact with the development team on this to come up with a design?

[2019-03-12 12:37] menulis commented on #188
Thanks for the reply, @lbalmaceda. Don't you think that in this case the [documentation](https://github.com/auth0/auth0-java) should be updated accordingly? Currently it says _You can pass an optional Filter to narrow the results in the response_, which is misleading for the `users().get()` case.

[2019-03-12 17:42] chrisvire commented on #73
@mattjbray Did you come up with an alternative?  I didn't see a fork of the library in your public github account.

[2019-03-12 17:58] chrisvire commented on #73
@lbalmaceda You said that added this as an item to your backlog.  What timeframe do you thing it will be before it could be included in this library?

[2019-03-12 18:05] mattjbray commented on #73
@chrisvire We just had a private implementation of this guide: https://auth0.com/docs/api-auth/tutorials/authorization-code-grant-pkce. It's perfectly possible to do, I just opened this issue because it would be nice to have it out-of-the-box.

We've since moved our application from Java to OCaml so I haven't really been following this.

[2019-03-12 18:38] chrisvire commented on #73
@mattjbray Would you be able/willing to share your private implementation as a code sample?

[2019-03-12 19:22] #188 closed

[2019-03-13 12:48] chrisvire commented on #73
@mattjbray I got something to work. Thanks.

[2019-03-13 17:29] lbalmaceda commented on #73
@mattjbray @chrisvire After discussing this we've reached to the conclusion that Java for Desktop is not a platform we would like to provide OOTB support for with this SDK. We will keep supporting backend flows.

You can always fork the library and make the necessary changes (mentioned on the original post) if this is a blocker to you. I also suggest you raise your need directly with our Product t

[2019-03-13 17:29] #73 closed

[2019-03-25 19:11] jakbutler opened #192 "Feature Request: Support Core Authorization API calls"
### Description

**Feature Request:** Support Core Authorization API calls

The current version of the [Auth0 REST Management API](https://auth0.com/docs/api/management/v2) allows for the creation and maintenance of Roles, the association of Permissions to Roles, and the association of Roles and Permissions to Users (and vice versa). It would be useful to support this same functionality in the Jav

[2019-04-25 17:59] #192 closed

[2019-04-25 19:02] jakbutler opened #198 "Issue: Core Authorization fails when adding Roles to User"
### Description

The new Core Authorization support is sending a list of `Role` objects when assigning roles to a `User` via the `UserEntity`. The API is expecting a list of Strings.

### Prerequisites

- [x] I have checked the documentation for this library in the README.
- [x] I have checked the [Auth0 Community](https://community.auth0.com/) for related posts.
- [x] I have checked for related o

[2019-04-25 19:59] #198 closed

[2019-05-02 18:08] lbalmaceda commented on #144
@guizmaii I don't see that major I mentioned coming anytime soon. What about exposing that async call as a method on the `Request` class? we would call enqueue internally in the implementation and you would need to pass a callback.

[2019-05-06 07:48] priyasharma1 opened #204 "Auth0 Sign up request"
### Description

When the entered password does not meet the required format set in the connection, an exception is thrown.

 I am using Auth0-1.4.0.jar and Java 1.8

### Reproduction
1) Try creating a user with password as 12345,
 since by default, the password policy is
- Special characters (!@#$%^&*)
- Lower case (a-z), upper case (A-Z) and numbers (0-9)
- Must have 8 characters in length
- Non

[2019-05-06 19:41] lbalmaceda commented on #204
👋 this was [fixed on 1.5.0](https://github.com/auth0/auth0-java/blob/master/CHANGELOG.md#151-2018-03-01). Try using the latest version!

[2019-05-07 04:45] priyasharma1 commented on #204
Thanks @lbalmaceda
I did try using Auth0-1.5.0.jar but still facing the same issue.

`    [java] java.lang.ClassCastException: java.util.LinkedHashMap cannot be cast to java.lang.String
     [java] 	at com.auth0.exception.APIException.obtainExceptionMessage(APIException.java:77) ~[auth0-1.5.0%20.jar:?]
     [java] 	at com.auth0.exception.APIException.<init>(APIException.java:32) ~[auth0-1.5.0%20.j

[2019-05-07 04:50] priyasharma1 commented on #204
Additionally, here are the other libraries being used, please let me know if any of these needs to be updated as well.
![auth0-lib](https://user-images.githubusercontent.com/14103632/57272531-c0579b80-70b1-11e9-97f1-e5d185b2c301.png)

[2019-05-07 14:26] lbalmaceda commented on #204
Sorry I meant `1.5.1`. Why don't you use the last version? That one you want to use is like an year old. Also, the next time you can [check the changelog](https://github.com/auth0/auth0-java/blob/master/CHANGELOG.md) and stay up to date with the features/fixes.

[2019-05-08 10:37] priyasharma1 commented on #204
Thanks @lbalmaceda that worked.
Sure, we will update to the latest version. Do we need to keep the jars updated regularly?

[2019-05-09 19:07] AlisonT1230 opened #205 "Add Metadata Field to Connection Object"
We would like to be able to use auth0-java to configure a connection in Auth0 with connection metadata.  Currently, the implementation of the Connection object does not have a metadata field while the API supports it.

Referring to connections API documentation: https://auth0.com/docs/api/management/v2#!/Connections/get_connections

I'm aiming to have a pull request in soon (within a few days) wit

[2019-05-09 19:14] lbalmaceda commented on #205
Sounds good! Let me know when the PR is ready and we will review it from this side.

[2019-05-09 20:40] AlisonT1230 commented on #205
PR is ready: https://github.com/auth0/auth0-java/pull/206
Thanks for the quick reply & support!

[2019-05-09 20:45] #205 closed

[2019-05-09 21:06] AlisonT1230 commented on #205
Is there an ETA for the next release that will include these changes?

[2019-05-10 00:11] tomrom95 opened #207 "Retrieving the User Profile using a refreshed token returns an empty object and errors"
### Description
After retrieving user credentials for the first time, we can successfully use the returned token to get the User Profile using the `AuthenticationAPIClient.userInfo(token)` method. However, after the token is refreshed, calling the `userInfo` method with the refreshed token results in the following exception:

[code]
The reason for this is because the `/userInfo` endpoint is return

[2019-05-10 16:59] lbalmaceda commented on #207
@tomrom95 are you sure this is the right repo? Those classes are not part of this SDK.

[2019-05-10 20:07] tomrom95 commented on #207
Ah part of Android. Will move the issue there

[2019-05-10 20:07] #207 closed

[2019-05-17 12:10] neshanjo commented on #95
Any news on this? I'm a bit astonished that this endpoint still does not exist.
I think, having a complete API is not "nice-to-have", but rather something a (paying) user can expect.

[2019-05-21 12:30] nielvalr opened #208 "Upgrade Jackson dependency to latest due to CVE-2019-12086"
### Description

`com.fasterxml.jackson.core:jackson-databind:2.9.8`

This was picked up by SourceClear and Snyk as a downstream dependendency vulnerability. I'm not sure where jackson is used in your code, but it appears to be a "high" vulnerability.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12086
https://snyk.io/vuln/SNYK-JAVA-COMFASTERXMLJACKSONCORE-174736

Solution: Upgrade to `

[2019-05-22 20:53] #208 closed

[2019-06-03 16:34] danebert opened #211 "tokenHolder.getExpiresIn documentation doesn't match behavior"
tokenHolder.getExpiresIn appears to return seconds-till-expiry (as the method name implies) ... but the JavaDoc says it returns a time "Getter for the expiration time ('exp' claim) of the recently issued token." ... which would be a time in epoch seconds.

https://github.com/auth0/auth0-java/blob/7ab4d2d65d9e9882eed755f770f921bc21c8adce/src/main/java/com/auth0/json/auth/TokenHolder.java#L67

Sugge

[2019-06-03 17:51] lbalmaceda commented on #211
`expires_in` is the property that the server returns when you authenticate, and it tells you in how many seconds (since the tokens were issued) the access token would be deemed invalid. It is not calculated dynamically, so unless you keep the time at which you have requested the token, this property would not have much value for you.

I think your suggestion is too similar to what we have today. W

[2019-06-03 22:11] danebert commented on #211
The part of the JavaDoc that was confusing was this: "Getter for the expiration time ('exp' claim) of the recently issued token."

That could be interpreted as the time of expiration (in epoch seconds) ... which is what happened ... and caused a bug.

How about:
[code]

[2019-06-14 17:23] notori0us opened #212 "Feature Request: Handle Token Refresh for Management API Client"
In the [node-auth0 Management API SDK](https://github.com/auth0/node-auth0#management-api-client), a developer can provide a token or a clientId/clientSecret.

When providing a clientId/clientSecret combination the developer is then not required to implement token refresh logic, which is immensely helpful.

Is there any plan to offer similar functionality to the Java SDK? Thank you.

[2019-06-20 18:05] lukebonderevel opened #213 "Feature Request: Add support for RBAC"
The Resource Server entity on the Auth0 Management API has support for RBAC through the `enforce_policies` and `token_dialect` properties in the body JSON. [See documentation](https://auth0.com/docs/api/management/v2#!/Resource_Servers/post_resource_servers)

I request that the Auth0 Java SDK be extended to integrate with RBAC capabilities.

Thanks!

[2019-07-16 04:02] Bini-Saju commented on #184
Is this issue solved?. Having the same exception 'java.io.NotSerializableException: com.auth0.jwt.JWTDecoder'

[2019-07-24 20:11] lbalmaceda commented on #184
I'm not sure this will work, but I have the feeling that GCE has serialization issues with code using anonymous inner classes. Anyway, I went through the sample code and couldn't find any anonymous class being instantiated. Can you please check your app, if you have added something extra from the sample base code?

[2019-07-24 20:17] lbalmaceda commented on #211
I see your point now.

- `exp` is the "date time" at which the token should no longer be accepted. But that is contained inside the token's payload.
- `expires_in` is a property sent by the authentication server, that represents the "duration" of the token (vs the "expiration" date above) since it was issued.

So `Time.now()` + `expires_in` should match `exp`, time duration speaking.

I think the

[2019-07-25 03:09] danebert commented on #211
I like your suggestion. Thanks for listening to the feedback!

[2019-07-26 00:20] jimmyjames commented on #184
I tried deploying the [Spring Security MVC sample](https://github.com/auth0-samples/auth0-spring-security-mvc-sample/tree/master/01-Login) to AppEngine, and it was working fine in my case with this basic appengine configuration:

[code]

I could see issues arising when configured with more than one instance, if `session_affinity` isn't set to `true` (which does limit the ability to load balance op

[2019-07-26 00:20] #184 closed

[2019-08-02 19:46] #211 closed

[2019-08-15 16:04] HSAR opened #224 "Bug: Illegal properties included in resource server update request cause APIException"
### Description

`APIException` is thrown when attempting to update a Resource Server. The detailMessage given is `Request failed with status code 400: Payload validation error: 'Additional properties not allowed: id,identifier'.`

### Prerequisites

- [x] I have checked the documentation for this library in the README.
- [x] I have checked the [Auth0 Community](https://community.auth0.com/) for r

[2019-08-21 15:44] lbalmaceda commented on #224
@HSAR This is not a bug. The API error is correct, you are sending parameters that can't be changed once the entity was created on the server side. Because there's a single POJO class for that entity for all the requests, you need to use the [alternate constructor](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/ResourceServer.java#L48) that doesn't require any pa

[2019-08-21 16:09] HSAR commented on #224
That was the issue. I feel rather foolish, but such is life.

Thanks for your help, @lbalmaceda.

[2019-08-21 16:09] #224 closed

[2019-08-21 16:11] lbalmaceda commented on #224
@HSAR No worries. Please open a new issue if you encounter something else or have a new question.

[2019-08-21 16:13] lbalmaceda commented on #213
I think this was solved with https://github.com/auth0/auth0-java/pull/214. Did you find any other missing property @lukebonderevel ?

[2019-08-21 16:16] lbalmaceda commented on #212
There's nothing planned similar to that. There's a method though to [update the token](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/ManagementAPI.java#L57) that was originally set. But nothing is done automatically. I suggest you make the feature request in the [feedback form](https://auth0.com/feedback) since that reaches directly our Product team and they c

[2019-08-22 14:39] lukebonderevel commented on #213
You are correct @lbalmaceda. Thanks!

[2019-08-22 14:39] #213 closed

[2019-10-04 05:38] damieng commented on #176
Related https://github.com/auth0/auth0.net/issues/304

[2019-10-26 11:23] guizmaii commented on #144
This is activity

[2019-10-29 07:58] ha-shine opened #227 "Feature Request: Support for /mfa/challenge"
Is there any plan to support requesting mfa oob code ([/mfa/challenge](https://auth0.com/docs/api/authentication#multi-factor-authentication)) and authenticating using that?

[2019-10-30 13:10] p4535992 opened #228 "Need a example for "Complex" payload on my jwt token generation"
# Need a example for "Complex" payload on my jwt token generation

I'm trying to generate a JWt Token for Jitsimeet, but i have some doubt on how to use the java API
Here the payload i need to encode on jwt:

Headers (using RS256 public key validation)
[code]
Payload
[code]

and here my java code

[code]
The java code for set the claim "context" is wrong.
How i must use the java api for accomplish

[2019-11-02 03:22] #30 closed

[2019-11-02 03:22] #72 closed

[2019-11-02 03:22] #122 closed

[2019-11-02 03:22] #35 closed

[2019-11-02 03:22] #143 closed

[2019-11-02 03:22] #91 closed

[2019-11-02 03:22] #61 closed

[2019-11-07 03:04] kvneswar opened #229 "Set method for isFirstParty is missing in Client.java"
The set method for **isFirstParty** is missing in Client.java

https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/client/Client.java

[2019-11-11 20:58] #229 closed

[2019-11-18 14:28] levyshachar2 commented on #95
Hi , we actually also have the same need for this API.
Is this on the road map?

Thanks

[2019-11-19 17:36] lbalmaceda commented on #95
@levyshachar2 not specifically on the roadmap but we have a bunch of changes and hopefully will be available by EOY.

[2019-11-26 19:07] #212 closed

[2019-12-06 16:16] damieng commented on #176
The rule is that `_id` is returned when using a standard connection and `user_id` when using a custom connection.  We should add both properties to the deserialized response class with appropriate comments.

[2019-12-06 19:34] damieng commented on #176
@lbalmaceda Here's how I'm solving it in Auth0.Net https://github.com/auth0/auth0.net/pull/351/commits/91d601c540cfb956f7c4c265ea8ec848e97277a8 after confirming the options with IAM.

[2019-12-27 10:49] 4runkt opened #233 "LogEvent data missing"
Hi There,

I was trying to retrieve log events from Auth0 using auth0 management api for Logs. I could see that the class com.auth0.json.mgmt.logevents.LogEvent is used to map log events retrieved from api. However couple of fields are missing in the class. When I checked the end point response, I could see that couple of more details are there in the response, but the class doesn't have fields to

[2020-01-17 13:13] TomSchalld opened #234 "Sensitive data in a String object, making it impossible to reliably purge the data from memory"
### Description

 AuthAPI.java handles passwords as String. Passwords should be accepted only as char[] so that they can't be extracted from memory.

### Environment

- **Version of this library used: 1.15.0**

[2020-01-24 11:57] guizmaii commented on #144
This is activity

[2020-01-24 14:44] lbalmaceda commented on #228
@p4535992 👋 This is not `java-jwt` repo. Anyway, the scenario you want to achieve is not supported yet. There are already some open issues related to this. I suggest you subscribe to them for updates.

[2020-01-24 14:44] #228 closed

[2020-01-30 11:09] marioosh opened #235 "Dependency issue when using from scala library"
I'm using auth0 with scala (SDK 2.12.10) and got that error message during building the project:
[code]
I see that Jackson Databind since version 1.14.3 is set to 2.10.pre3, so it's incompatible with Scala library.

[2020-01-30 22:33] marioosh commented on #235
issued by some others dependencies...

[2020-01-30 22:33] #235 closed

[2020-02-03 08:39] #227 closed

[2020-02-04 07:55] MorrisonCole opened #236 "Support for OkHttp 4.3.x"
Currently, the library depends on `3.9.1`. It's old enough that it's causing a dependency issue in my project, and I'd rather use a version from the latest major release.

Indeed, the OkHttp documentation states that:

(*[Source](https://square.github.io/okhttp/#requirements)).

It'd be nice to upgrade to `4.3.x`! 🚀

[2020-02-04 13:55] lbalmaceda commented on #236
Thanks for the heads-up! Probably not something we will do until the next major. There are no plans for one yet. But, definitely good to keep in mind.
I'll close this issue as we won't be actioning it.

[2020-02-04 13:55] #236 closed

[2020-02-05 12:18] swankjesse commented on #236
You should upgrade OkHttp sooner. Staying with an old OkHttp is like staying with an old version of OpenSSL or Chrome: it's a security hazard!

Here's SSL configuration changes since that release.
https://square.github.io/okhttp/tls_configuration_history/

Note that OkHttp 3.13 bumped the minimum platform to Java 8 or Android 5. These are the earliest platforms to support TLS 1.2.

[2020-02-06 02:42] MorrisonCole commented on #236
Yes, and 3.9.1 appears to be around [810 days old](https://mvnrepository.com/artifact/com.squareup.okhttp3/okhttp/3.9.1)! I'd expect security to be a concern motivating the release of new _Auth0_ SDKs 😅

[2020-02-21 18:49] kevinrs5855 opened #238 "com.auth0.json.mgmt.client.Client missing initiate_login_uri property"
### Description

I am a member of the IAM team at my company and we are an Auth0 customer.  We are attempting to create applications in Auth0 for each of our own applications/services and want to specify the initiate_login_uri for each application.  This is for all the reasons detailed at https://auth0.com/docs/universal-login/default-login-url.

### Prerequisites

- [ X] I have checked the docume

[2020-03-12 21:50] dbt commented on #95
Would also appreciate support for this.

[2020-03-17 16:05] peadardefaoite opened #239 "MgmtApi does not allow deleting fields for user"
### Description

If I do a PATCH request to `/api/v2/users/{id}` with a field set to `null` with curl, it erases that field. If I try using the Java Auth0 SDK, it has no effect.

The SDK does not allow deletion of fields within a user's metadata as the User class ignores null fields when marshalling to JSON. Null fields are used in the PATCH request to erase fields and their values.

[Docs](https:

[2020-04-02 12:24] #233 closed

[2020-04-03 13:08] lbalmaceda commented on #239
👋 Thanks for the report! We've reviewed this and agree it's an issue. We're tracking this internally and will come up with a solution soon.

[2020-04-03 13:11] lbalmaceda commented on #238
👋 Thanks for the report! We've reviewed this and agree it's an issue. We're tracking this internally and will come up with a solution soon.

[2020-04-03 13:12] lbalmaceda commented on #234
Thanks for pointing this out. We're going to investigate and evaluate the impact.

[2020-04-03 21:14] lbalmaceda commented on #95
Apologies for such a long delay. I'm going to update the Jobs entity and add at least the ones required here by you on the first comment @jebbench. While trying that I found that the "get results" endpoint is no longer present in the swagger docs and I wonder what the replacement is today.
If someone of you is familiar with the jobs API and would like to comment, I'm reading.

In the meantime, I'l

[2020-04-06 19:57] #185 closed

[2020-04-08 15:00] #234 closed

[2020-04-13 15:31] BLWedge09 opened #246 "Add sources to Permission objects returned from ManagementAPI users().listPermissions call"
### Describe the problem you'd like to have solved

Auth0 has added sources to permissions when called from the /api/v2/users/{id}/permissions endpoint. These optional sources are not included in the Permission object that is returned using this Java library.

A Permission can have a list of sources, The source Object is structured as such:

       {
          "source_id": "rol_xxxxxxxxxxxxxxxx",

[2020-04-13 17:10] #176 closed

[2020-04-14 16:23] #95 closed

[2020-04-16 22:12] #238 closed

[2020-04-18 21:10] kevinrs5855 commented on #238
@lbalmaceda  & @damieng thanks for fixing this!  When do you plan on releasing master, i.e. 1.16.0?

[2020-04-20 18:22] lbalmaceda commented on #238
@kevinrs5855 👋 Sometime this week! We need to include a few more changes. It will be on a minor 👍

[2020-04-21 19:23] lbalmaceda commented on #246
👋 @BLWedge09 I can't find the change that you mention on the swagger API docs. May I ask where you took this from?

[2020-04-21 20:18] BLWedge09 commented on #246
@lbalmaceda Sorry, I did actually include the wrong screenshot on my original post. On this page: https://auth0.com/docs/api/management/v2#!/Users/get_permissions
See the Optional Sources in the response schema.  If I actually make the call on that page or from postman,  I get back a block like this for each assigned permission. THere is a separate source block for every Role that the user has ass

[2020-04-21 20:48] lbalmaceda commented on #246
The screenshot would be this then, but still, I don't see the source attributes on the swagger docs. So this comes as part of the response? I'll check with the API team to see if they can update the docs and tell which of the attributes are "required", and if that's correct, I'll take this request as well to my team to include it on the SDK.

![image](https://user-images.githubusercontent.com/3900

[2020-04-21 20:51] lbalmaceda commented on #246
WAIT. This is Users!! I confused it with Roles. I see the optional "sources" property now.
![image](https://user-images.githubusercontent.com/3900123/79912563-99949100-83f8-11ea-8c5f-8a1a15dcea47.png)

I'll still need to check with the API team for them to clarify the required attributes on that property. I'll circle back. Thanks !

[2020-04-21 21:18] BLWedge09 commented on #246
@lbalmaceda Correct, it's under users. I was hoping it would be as simple as just pulling in new swagger docs and recompiling, but if that page is a representation of the swagger docs, the sources might not be there as of right now.  This would be really useful information for a project that I'm working on. Trying to figure out if a user has a permission because it came from a rule or not is a pro

[2020-04-23 15:51] jimmyjames commented on #239
Hi @peadardefaoite, you are correct that we do not marshal null values on the `User` class (or other models) when sending requests. Allowing null fields to be sent on the `User` class would have unintended side effects, however, as we use that class for other request types involving users.

At some point, it may make sense to introduce request/response specific classes, which would make it easier

[2020-04-23 15:51] #239 closed

[2020-04-24 21:06] lbalmaceda commented on #246
I've received the details from the team that added the API. It seems the possible values for the type are DIRECT and ROLE. And only in the case of ROLE, the other two properties will be present. For DIRECT, they are empty.

I'll make the changes to include this in the following week.

[2020-04-24 22:55] BLWedge09 commented on #246
@lbalmaceda

[2020-04-24 22:56] BLWedge09 commented on #246
@lbalmaceda Thank you so much. Sorry, I accidentally clicked to close it.  Been a long day.

[2020-05-04 15:50] kevinrs5855 opened #252 "Mgmt API Connection Class missing fields returned as part of REST API"
### Description
The auth0-java sdk Connection class does not include the display_name and last_password_reset fields as part of the Connection class.  These fields are included in the Auth0 REST API responses.

See https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/Connection.java is missing the display_name documented here, https://auth0.com/docs/api/management/v2#!

[2020-05-04 15:51] BLWedge09 commented on #246
@lbalmaceda Any idea when I might be able to expect this to be added?  I don't want to continue to pester you. This just happened to become a bit of a blocker on a particular piece of an application I'm working on.

[2020-05-04 17:44] lbalmaceda commented on #252
👋 Thanks for the report! We've reviewed this and agree it's an issue. We're tracking this internally and will come up with a solution soon.

[2020-05-04 18:47] lbalmaceda commented on #246
@BLWedge09 No worries at all, feel free to ping again if we miss your message. I understand these properties are read-only, is that correct? I forgot to ask that bit.

We have this on the backlog. I'd expect this to be added during this week, but since we have higher priority tasks it might take a few more days.

[2020-05-04 19:10] BLWedge09 commented on #246
Correct. They are definitely read only.

[2020-05-07 17:50] GeorgiosGoniotakis opened #253 "Version 1.16.0 is not available on Maven Central"
Hello there. Thank you for offering this great library. Version 1.16.0 does not seem to be uploaded to Maven Central. Try to add version 1.16.0 (as listed on the README) to a Gradle file produces errors which may cause confusion. Could you please upload the artefact to the Maven repository? Thank you 😄

[2020-05-07 20:20] lbalmaceda commented on #253
thanks for calling it out! I just synced this. You should see it in the next hour.

[2020-05-07 20:20] #253 closed

[2020-05-12 18:10] lbalmaceda commented on #246
I've created #254. To my understanding, and as per discussed above, a `Permission` cannot have its sources set.
Take a look and let me know if that works for you.

[2020-05-12 18:14] BLWedge09 commented on #246
Yep. That looks like exactly what I need.

[2020-05-18 19:10] #246 closed

[2020-05-27 14:11] lbalmaceda commented on #252
@kevinrs5855 Reading again today your report, I couldn't find the `last_password_reset ` on the Connection API2 docs. I think you refer to the User's object for that. It was added here https://github.com/auth0/auth0-java/pull/256

[2020-06-04 15:40] #252 closed

[2020-06-17 20:54] cschwalm opened #269 "Missing Management API Functionality for Linking User Accounts (link_with)"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-06-17 21:07] cschwalm commented on #269
Here is the PR: https://github.com/auth0/auth0-java/pull/270

[2020-06-18 10:24] rcumberlandnm commented on #72
@lbalmaceda Apologies for resurrecting an old issue, but we've also hit the scenario where we'd like to set the `auth0-forwarded-for` header in our requests to Auth0. At the moment we're forced to cast to `TokenRequest` as that's what `AuthAPI` creates and returns internally, in order to set this header. Any chance of making the API publicly accessible?
https://github.com/auth0/auth0-java/blob/a26

[2020-06-18 19:47] lbalmaceda commented on #72
@rcumberlandnm We keep the return type as `Request`. Casting the class has been the approach we have been recommending so far for extending the default behavior. There's no private API in that sense, once you cast it you get access to the public methods to add headers/params.

A non-breaking solution for this use case could be refactoring the signatures to return the type of request that is being

[2020-06-19 09:59] rcumberlandnm commented on #72
I think returning `TokenRequest` from `AuthAPI::login` would be a good solution, as the type is covariant with the existing return type `AuthRequest`:
https://github.com/auth0/auth0-java/blob/a265f3224cd64847774d71c15ea2718b2c80c1dc/src/main/java/com/auth0/client/auth/AuthAPI.java#L468
https://github.com/auth0/auth0-java/blob/a265f3224cd64847774d71c15ea2718b2c80c1dc/src/main/java/com/auth0/net/Tok

[2020-06-19 22:08] lbalmaceda commented on #72
That's what I was talking about 🎉 , subclasses or implementations of Request can be safely returned without introducing breaking changes. But I'm not too convinced of going with that approach. I understand it's an easy solution and really fast to implement.

My concern is we could leak exposure of methods we don't really intend devs to access in some scenarios. I've added a task in our backlog (SD

[2020-06-22 20:45] gsdatta opened #271 "Allow pluggable OkHttp client"
The auth0 client internally uses OkHttp as its http client. Quickly skimming the codebase, it looks like the API is designed to abstract/hide this from the SDK consumer.

### The problem
However, this makes it difficult to re-use an existing OkHttp client (for example, a singleton OkHttp bean in a spring boot project). Sharing a single okhttp client is the recommended approach according to the OkH

[2020-06-22 21:02] lbalmaceda commented on #271
@gsdatta this was already proposed a few times in the past. e.g. https://github.com/auth0/auth0-java/pull/237 and https://github.com/auth0/auth0-java/pull/149. We try not to expose third party classes as part of our signature. I don't think the networking client will be an exception.

To provide some context, there's been an effort from our side lately to hide configurable settings through our own

[2020-06-22 21:16] gsdatta commented on #271
Figured, given the design of the SDK overall :)

However, I don't think it's really just a java enterprise use case. While I do understand the desire to hide third party classes in the SDK (presumably to allow migrations down the road and prevent your own lock in from a user standpoint), I find it concerning when a third party SDK is under the hood maintaining its own connection pools, thread pool

[2020-06-22 21:28] lbalmaceda commented on #271
Overall, you understand the rationale we follow by hiding these classes from our public APIs. The goal is to facilitate migrating to a different library if the one we are using changes its license, or breaks in a way that doesn't benefit us, or has a nasty security issue and goes into EOL. Not that it had happened in this library in particular, but we've had similar issues with other libraries.

F

[2020-06-23 07:52] darkknight100 commented on #235
@marioosh Can you give some example regarding how did you import the right version explicitly?

[2020-06-24 14:45] rcumberlandnm commented on #72
I'm all for that approach, sounds good. Ultimately all I'd personally like to have is a way to use the `auth0-forwarded-for` header in a public API, rather than having to cast and set a header. If that means I need to set a header via a public API, that's good too!

Thanks for considering this by the way, it's appreciated.

[2020-07-03 02:09] guizmaii commented on #144
This is activity

[2020-07-03 18:24] lbalmaceda commented on #144
@guizmaii Apologies for not being clear initially. We're still not planning the next major of this SDK. We should definitely target JDK 8 and consider offering both sync and async alternatives for invoking the requests in the next version, suitable for both Desktop and Backend clients. But given that today this is not in our roadmap, I cannot share an estimated date with you.

What we could accept

[2020-07-09 12:31] mr-newell opened #273 "AuthAPI client secret should be optional [SDK-2001]"
The client secret is not required in certain cases (for example, [refreshing a token](https://auth0.com/docs/tokens/guides/use-refresh-tokens) in a non-confidential application) however it is [not possible](https://github.com/auth0/auth0-java/blob/b80f561657f994112deb1a04f26d3252db694d6c/src/main/java/com/auth0/client/auth/AuthAPI.java#L64) to create an `AuthAPI` instance without one.

[2020-07-09 14:58] mikeluz opened #274 "IdTokenVerifier's verify method stalling out"
I'm trying to use the out-of-the-box ID Token verifier (from the "Verifying an ID Token signed with the RS256 signing algorithm" section in the README) and the verify method is stalling out:

`val publicKeyProvider = PublicKeyProvider("$domain/")`
`val sigVerifier = SignatureVerifier.forRS256(publicKeyProvider)`
`val idTokenVerifier = IdTokenVerifier.init("$domain/", clientId, sigVerifier).build()

[2020-07-09 17:36] #274 closed

[2020-07-13 19:53] lbalmaceda commented on #274
Hey @mikeluz were you able to resolve this? Is there any more context you can share?

[2020-07-13 19:56] lbalmaceda commented on #273
Yes, that makes sense. I imagine the most straightforward fix is to make it optional (e.g. remove the assert non-null call) and add the corresponding unit tests and docs; without introducing new constructor variants.
Would you send a PR to fix that?

[2020-07-15 05:06] mr-newell commented on #273
Most tests assert that the secret is present; should these checks be removed or left alone? From my understanding the use of the client secret is dependent on whether the application is confidential or public but I don't know if there are certain endpoints which will always require the secret (Management API calls, for instance, will always be from a secure backend).

[2020-07-24 22:18] lbalmaceda commented on #273
The `ManagementAPI` class should remain unchanged since it uses an access token with the proper scopes to consume its endpoints. What will change is the `AuthAPI` class.

Make the `clientSecret` param in both constructors optional by removing the `assertNotNull` call. Document that on the param Javadoc. Something around

Similarly, update the docs on the following methods where the client_secret i

[2020-07-27 13:48] #269 closed

[2020-07-30 16:13] mistriel opened #276 "TokenHolder should hold `scope` entry [SDK-2000]"
Hi,
The Auth0 response for getting `access_token` also contains `scope` parameter in the returned JSON.
Yet, in "master" (Pardon my French) its still not reflected in the DTO object [TokenHolder](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/auth/TokenHolder.java).

For example, see the following response:

[code]

i can do a quick pull request if needed

[2020-07-30 17:13] lbalmaceda commented on #276
Sounds like a good addition. Would you mind sending that PR, please?

[2020-08-02 14:49] colymore opened #277 "UrlJwkProvider missing jack ObjectMapper"
### Description

1.20.0 version of the auth0 SDK is not importing ObjectMapper class from jackson in lubrary com.auth:jwks-rsa0.9.0

### Reproduction

Just install 1.20.0 version.

<img width="1439" alt="Screen Shot 2020-08-02 at 11 48 28" src="https://user-images.githubusercontent.com/572601/89125613-17ffd500-d4b6-11ea-8a9b-773d28c8bf43.png">

### Environment

-  Version 1.2.0
- Using ktor 1.3.2

[2020-08-03 16:53] lbalmaceda commented on #277
This library doesn't have `com.auth:jwks-rsa:x.y.z` as a dependency. You can check the dependencies of this library [here](https://github.com/auth0/auth0-java/blob/master/build.gradle#L63-L67).
Are you sure this is the right repo?

[2020-08-04 17:03] SteveG0 opened #278 "No support for 'includeEmailInRedirect' in post_email_verification [SDK-1999]"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-08-04 17:13] lbalmaceda commented on #278
Good catch. Do you think you can send a PR @SteveG0?

[2020-08-05 01:11] colymore commented on #277
Sorry you are right, I had a conflict bnetween this lib and the last version of ktor_jwt which is importing other auth0 version.

[2020-08-05 01:11] #277 closed

[2020-08-05 09:42] ali-nutmeg opened #279 "Custom Exception for MFA challenge on login [SDK-1998]"
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Describe the problem you'd like to have solved

### Describe the ideal solution

## Alternatives and current work-arounds

### Additional context

[2020-08-18 18:21] lbalmaceda commented on #279
👍  Can you post the response error body you receive? Thanks

[2020-08-18 20:06] ali-nutmeg commented on #279
Hi.

The MFA response body looks like:
[code]

This is expected as per documentation.

When making a call to `AuthRequest.execute`, it then maps to `com.auth0.exception.ApiException`

You can see this happening here - https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/net/ExtendedBaseRequest.java#L131

What I would like is another if condition added here (https://github.com/au

[2020-08-18 20:41] ali-nutmeg commented on #279
To add to above, there also does not seem to be a way to submit an otp from MFA using this library.

I'm specifically after something in the library that can action "Verify with one time password" as documented here - https://auth0.com/docs/api/authentication#verify-with-one-time-password-otp-

[2020-08-18 22:06] ali-nutmeg opened #280 "Add MFA login to library - [SDK-1997]"
### Describe the problem you'd like to have solved

There is not a neat way to be able to do an MFA login as described here - https://auth0.com/docs/api/authentication?shell#verify-with-one-time-password-otp-

### Describe the ideal solution

An mfaLogin method in AuthAPI that allows for an MFA login

## Alternatives and current work-arounds

I actually cloned the repo and thought I'd add the meth

[2020-08-18 22:13] ali-nutmeg commented on #280
I have added a draft PR showing what the method could look like, but it will need to be fleshed out a bit more with javadoc + test etc. but I think it gives a good indication of what I would like in the repo

[2020-08-19 18:02] kisucky opened #282 "Method login returns error: Cannot read property 'redirect_uri' of undefined"
### Description

Can method **login()** return the following error?

APIException: Request failed with status code 500: Cannot read property 'redirect_uri' of undefined

I tried to use the login according to the examples which are here but I didn't find a way to add a redirect url to the request.

### Environment

- **Version of this library used:**
1.20.0
- **Version of the platform or framework

[2020-08-20 19:19] lbalmaceda commented on #282
there's no concept of "redirect uri" for an Auth API login method. Can you share a snippet of how you're using it?

[2020-08-20 20:53] kisucky commented on #282
of course, here is the code i used:
`...

	AuthAPI auth = new AuthAPI("{YOUR_DOMAIN}", "{YOUR_CLIENT_ID}", "{YOUR_CLIENT_SECRET}"); // I filled that by my Applications

        AuthRequest request = auth.login("myEmail", "myPass".toCharArray())
                .setAudience("audience - from auth0 APIs Identifier")
                .setScope("openid profile email");
        try {
            TokenHol

[2020-08-20 21:48] lbalmaceda commented on #282
But the [login method](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/auth/AuthAPI.java#L472) you are calling is making a POST request to the endpoint documented [here](https://auth0.com/docs/api/authentication#resource-owner-password). The endpoint you linked is the web authentication flow that goes through Auth0's Universal Login.

[2020-08-24 14:49] majugurci opened #283 "ManagementAPI password validation - no details"
### Description
I have the following situation. Only application administrators can add new users. So I have disabled signups in database connection.

Users are created through web app form -> java server -> auth0 server. For this I'm using ManagementAPI (as shown here in [example](https://github.com/auth0/auth0-java#create). It works ok, users are added, validations are run. But there is a proble

[2020-08-26 15:40] sid027 commented on #58
can someone let me know what is wrong trying to achieve the same thing with cURL. I get the same error.

```curl -X PATCH -H "Authorization: Bearer $AUTH0_TOKEN" "Content-Type: application/json" -d '{"blocked": true}' 'https://auterion-suite.eu.auth0.com/api/v2/users/{id}'```
(id is replaced with the user_id).

Error:
[code]

[2020-08-28 18:54] lbalmaceda commented on #283
@majugurci thanks for the detailed writeup.
First, let me clarify that what you're seeing when using the AuthAPI is the correct behavior. If the sign up is disabled on the connection, the Auth API will NOT let you sign up new users to that connection/realm. The details of the password complexity, when present in the exception, are being handled by the SDK.

Unfortunately, I've tested and that's on

[2020-08-29 09:28] majugurci commented on #283
Hi,

we know the password policy, but it doesn't make sense to re-implement it as we never know if implementation details would change some day (e.g. some character is considered special or not).

Since the signup form is in react app I have found that Auth0's Lock is using library called password sheriff. Currently I'm using it to check password requirements. It gives nice explanation if there is

[2020-09-01 12:44] sanoopps opened #287 "Add support for passwordless login [SDK-1940]"
### Describe the problem you'd like to have solved

The SDK currently does not support passwordless login method i.e. exchanging an OTP obtained from `/passwordless/start` call for tokens.

### Describe the ideal solution

Ideally, I suppose the SDK would expose an auth API like below that supports exchanging OTP obtained via either email or sms  -
[code]

[code]

## Alternatives and current work-

[2020-09-03 21:02] lbalmaceda commented on #287
I think it's a valid ask. But it would require more than just the OTP exchange, as the `/passwordless/start` endpoint is also missing. Out of curiosity, on what type of client/app are you using this SDK? and why would you prefer that over using the Auth0 hosted solution?

[2020-09-03 22:54] sanoopps commented on #287
We're not using the Java SDK. We do use the `auth0.js` SDK though.

Yes, `/passwordless/start` is also missing. The reason I asked specifically about exchanging OTP is that we have a Java server side application interfacing with Auth0 for token issue and was looking at extending it to handle OTP exchange as the first step to build a passwordless login solution. My curiosity led me to this SDK and

[2020-09-04 20:30] lbalmaceda commented on #287
@sanoopps Ok, no problem. I'm tracking this feature request internally as `SDK-1940`.

[2020-09-07 18:35] lbalmaceda commented on #283
I agree it should be dynamically obtained. I'm not familiar with password-sheriff nor the level of support of that library. But if you ever run into trouble, you can always pull the connection object using the management API if you need to. I'll close this issue now. Thanks for submitting the product feedback.

[2020-09-07 18:35] #283 closed

[2020-10-02 04:40] guizmaii commented on #144
This is activity

[2020-10-02 13:21] lbalmaceda commented on #144
@guizmaii as per my previous message, this is not in our backlog. If you need this change, I left some guidance above on a PR that we would accept to review and merge. I'll leave this open for a few more days in case you have any more questions.

[2020-10-02 13:42] lbalmaceda commented on #280
Thanks for doing that. I've left a review, let's follow up there.

[2020-10-02 13:52] lbalmaceda commented on #279
I'm not sure if the "MFA required" error should be considered as a separate exception. One thing is being rate limited by the server, but this one is just another "API error" due to the server not liking one value sent in the authentication request. Accepting this change could set precedence and anyone could come and ask for their custom exception class/subclass on a particular API error code.

I

[2020-10-03 23:36] ali-nutmeg commented on #280
@lbalmaceda thanks for taking a look. Can someone from Auth0 pick this up please?
Thanks!

[2020-10-04 00:28] ali-nutmeg commented on #279
I think whether it's adding logic to expose different errors using the android API you linked or having separate exception types both result in me getting the information I need, so I don't mind if it's done either way.

It would really be useful to have either implementation as it saves me (and every other java client) needing to implement this manually.

[2020-10-05 19:58] lbalmaceda commented on #280
@ali-nutmeg I'm tracking it internally under `SDK-1997`. If you or someone else wants to take it, feel free to. I can't share a specific date of resolution.

[2020-10-05 20:03] lbalmaceda commented on #279
Sounds good! Tracking internally as `SDK-1998`

[2020-10-05 20:06] lbalmaceda commented on #278
Tracking internally under `SDK-1999`

[2020-10-05 20:11] lbalmaceda commented on #276
Tracking internally `SDK-2000`

[2020-10-05 20:17] lbalmaceda commented on #273
Tracking internally `SDK-2001`

[2020-10-13 15:34] #276 closed

[2020-10-13 15:36] #278 closed

[2020-10-21 09:37] #287 closed

[2020-10-21 18:37] #280 closed

[2020-10-26 21:18] jimmyjames opened #307 "Token requests should be customizable"
### Description

There are times when it is required to send custom headers or parameters on authorization requests. For example, the `auth0-forwarded-for` header is recommended to avoid a common issue with anomaly detection, which is discussed further in #302

**Some background:**
- `AuthRequest` extends `Request`
- `AuthRequest` does not extend `CustomizableRequest`
- `TokenRequest` is the only

[2020-10-26 22:04] jimmyjames commented on #307
A few different options here, none of them perfect:

1. Make `AuthRequest` extend `CustomizableRequest`. This is the cleanest solution in terms of providing customizable request functionality, but it would be a breaking change to anyone who is implementing their own `AuthRequest`. I doubt this is a frequent occurrence (maybe more likely in custom mocks for tests), but it's not something we can be

[2020-10-27 22:27] jimmyjames commented on #144
I think we should split this issue out into two valid (but obviously related) issues:
- Drop support for Java < 8
- Support async requests

I know that's a bit pedantic, but it will allow us to better capture the need to drop support for Java < 8 for many reasons, and the (reasonable) feature request for non-blocking HTTP requests.

While we set our build target for Java 7, the reality is that Jav

[2020-10-27 22:38] jimmyjames commented on #271
@gsdatta are there any specific network client customizations you'd like to configure? As @lbalmaceda mentioned, there is the ability to construct an instance with an `HttpOptions` object. Currently it only supports proxy, but it can be expanded.

We are considering a migration to OkHttp version 4, so even if we do decide to enable a pluggable client, we'll want to work through that in case it imp

[2020-10-27 23:58] gsdatta commented on #271
@jimmyjames no specific client configurations – I was just looking to reuse a `OkHttpClient` which I would pass in to the SDK instead of having the SDK instantiate one on its own (since there are ramifications to that).

[2020-10-28 22:04] #279 closed

[2020-10-30 15:13] #307 closed

[2020-11-02 19:16] jimmyjames opened #314 "Set build target for Java 8"
### Describe the problem you'd like to have solved

This SDK currently sets a target source and target compatibility of Java 7. In actuality, third-party updates have required Java 8 to use this SDK since version 1.18.

Additionally, Java 8 (released in 2014) brings features such as improved Date/Time APIs, native Base64 encoding/decoding, async processing, amongst other features, that we should b

[2020-11-02 19:18] jimmyjames opened #315 "Support async request execution"
### Describe the problem you'd like to have solved

Add the ability to execute requests asynchronously.

### Describe the ideal solution

See #112 for a possible solution to add async support. Note that to avoid a breaking change by adding a new method to the `Request` interface, we could consider adding a new default method for async execution (would probably just have to throw an `UnsupportedOpe

[2020-11-02 19:19] jimmyjames commented on #144
Split this into two issues: #314 and #315. Closing this issue, any additional conversation can be carried on in either of those issues. Thanks!

[2020-11-02 19:19] #144 closed

[2020-11-09 21:53] JakeUskoski opened #318 "Provide object to configure Client refresh token settings"
### Describe the problem you'd like to have solved

Currently the refresh token settings for a client cannot be modified via the Java SDK, which makes managing the refresh token behaviour and settings impossible with the SDK as-is.

### Describe the ideal solution

The ideal solution would be the client class containing a refresh token object which can be configured, similarly to how the mobile se

[2020-11-13 14:52] jimmyjames commented on #318
Thanks for raising this and including details. We are discussing adding this functionality to this and other SDKs (we recently received a [similar issue](https://github.com/auth0/auth0.net/issues/450) to the .NET SDK). Will follow up with our plans here.

[2020-11-16 22:16] JakeUskoski commented on #318
I've done the groundwork of writing a solution, which I'll integrate with our codebase to test live tomorrow. As this issue is close to us, I felt it would be beneficial to provide a solution.

[2020-11-17 19:52] jimmyjames commented on #318
@JakeUskoski are you interested in making a PR? This is something we should support in the SDK, but we may not be able to get it implemented until after the week of US Thanksgiving. If not we'll target picking it up then (we're going to release 1.25.0 tomorrow, then won't be releasing until after Thanksgiving anyways, fwiw).

[2020-11-17 19:52] jimmyjames commented on #314
Fixed with #316

[2020-11-17 19:52] #314 closed

[2020-11-17 20:11] JakeUskoski commented on #318
@jimmyjames It is a PR, just in draft state at the moment #321 :) I'm testing it now to get the last check before taking it out of draft state.

[2020-11-17 20:21] jimmyjames commented on #318
Ah, I just saw the PR now :). I'll take a look when it's out of draft, thanks!!

[2020-11-17 22:42] JakeUskoski commented on #318
Finally got a chance to do live testing (and get around spring boot okhttp collisions), and it all looks good, so I've taken the PR out of draft state 🙂

[2020-11-25 13:45] majugurci opened #324 "java.lang.NoSuchMethodError: 'okhttp3.RequestBody okhttp3.RequestBody.create(byte[], okhttp3.MediaType)'"
Hello,

after upgrading to the version 1.25.0 (from 1.24.0) i get the error in the title when getting TokenHolder.

My code looks the same as in your docs:
[code]

The problem is this line: TokenHolder holder = authRequest.execute();

In previous versions everything worked great but since update to 1.25.0 it throws the following error:
[code]

[2020-11-26 10:14] ivarprudnikov commented on #324
Identical issue, have reverted to `1.24.0` until further updates.

Resolved dependency tree of `1.24.0` looks like:

[code]

Resolved dependency tree of `1.25.0` looks like:

[code]

In my case it is `okhttp3` version resolution which causes this (I think) as the error [seems to relate to the method deprecated in `okhttp3 version 4`](https://stackoverflow.com/q/57100451/906265), ie `com.squareup.o

[2020-11-30 04:00] jimmyjames commented on #324
Thanks for the detailed info and dependency tree reports. I'm back from holiday this week; will take a look and hopefully get a fix out soon.

[2020-11-30 19:44] jimmyjames commented on #324
I have #325 which is needed (just a bad miss on my part 😞), but I'm actually not able to reproduce this exact issue. If anyone has a small test app that reproduces this issue and could share it in a gist or a simple github repo, that would be great and I can then verify that the fix will indeed address the specific error raised here. Thanks all, apologies for this mistake!

[2020-12-01 12:15] ivarprudnikov commented on #324
Was able to reproduce in https://github.com/ivarprudnikov/test-auth0-java-dependency with a `build.gradle` file:

[code]

[2020-12-01 15:29] jimmyjames commented on #324
Fantastic, thank you @ivarprudnikov! I'm able to reproduce the issue with your example. I suspect it's the spring dependency management plugin using its bom for okhttp v3, overriding auth0-java's dependency on v4, but need to investigate more.

[2020-12-01 18:50] jimmyjames commented on #324
If I remove the Spring dependency management plugin (`io.spring.dependency-management`), the provided example works as expected. The Spring dependency management specifies OkHttp version 3, which overrides the dependency on v4 in this library.

As noted above, the specific issue is the change that replaced the (now deprecated as of version 4) call to `RequestBody.create` with its new form, and whe

[2020-12-02 21:58] jsalinaspolo commented on #324
There is a problem between Spring Bom and OkHttp Bom versions.

It could be fixed by adding strictly version into the dependencies

[code]

[2020-12-09 19:14] cihati opened #327 "Add TokenVerifier for non-OIDC-compliant JWTs"
auth0-java needs the exact same feature @joshcanhelp implemented for auth0-PHP at https://github.com/auth0/auth0-PHP/pull/428

All the required context/implementation details are there.

[2020-12-15 18:24] JakeUskoski commented on #318
Excited that #321 got merged and put into the 1.26.0 release! When will 1.26.0 be put in Maven Central? Seems like it still isn't there: https://mvnrepository.com/artifact/com.auth0/auth0

[2020-12-28 19:03] MarcusBiel commented on #324
Having the ame issue... please fix asap!

[2021-01-12 05:52] #273 closed

[2021-01-28 19:30] jimmyjames commented on #318
@JakeUskoski sorry about that! 1.26.0 is in Maven Central now.

[2021-01-28 19:30] #318 closed

[2021-01-28 19:35] jimmyjames commented on #327
@cihati have you tried using the [java-jwt](https://github.com/auth0/java-jwt) library for general JWT validation? As it allows for greater customizability and is not specific to ID Tokens, that may suit your requirements.

[2021-02-04 12:04] zhGio commented on #324
Hey guys, any updates on this? Reverting down to 1.24 and trying to do a user update throws a:
`com.auth0.exception.APIException: Request failed with status code 400: Payload validation error: 'Additional properties not allowed: nonce_supported,logins_count,last_login,last_ip,identities,updated_at,created_at,user_id (consider storing them in app_metadata or user_metadata. See "Users Metadata" in h

[2021-02-04 12:12] jsalinaspolo commented on #324
@zhGio it does not get fix managing the dependencies as described earlier?

The problem is a transitive dependency from Spring.
https://github.com/auth0/auth0-java/issues/324#issuecomment-737521043

Another solution could be to manage manually transitive dependencies from Spring:
https://docs.gradle.org/current/userguide/resolution_rules.html#sec:disabling_resolution_transitive_dependencies

[2021-02-04 12:37] zhGio commented on #324
Well unfortunately I'm using maven and not gradle and not sure how to apply the changes above mentioned

[2021-02-04 13:18] zhGio commented on #324
Ah alright, simply overrode the version in my pom.xml `<properties>` to `<okhttp3.version>4.9.0</okhttp3.version>`. Apparently spring boot guys reviewed and rejected the PR to update spring-boot-parent dependency version of okhttp3 to version 4...

Anyway, after the upgrade of the version, I can successfully send the request through the auth0 SDK but I'm still getting the same message as above. He

[2021-02-04 22:15] #315 closed

[2021-02-22 15:47] jimmyjames commented on #327
Closing this as general JWT verification is available with the [java-jwt](https://github.com/auth0/java-jwt) library.

[2021-02-22 15:47] #327 closed

[2021-02-26 09:55] nayomnik commented on #324
in android studio I did what @jsalinaspolo said  above  but still saw it red  and then after  'invalidate cashs/restart'  got it worked finally

[2021-02-26 17:01] jimmyjames commented on #324
@zhGio I think the 400 error is unrelated to the OkHttp version, as it's an error being returned from the management API after making the request. If that is something specific to this SDK (e.g., a similar request done in a REST client is successful), please open up a new issue here for that.

[2021-03-04 14:26] jimmyjames commented on #324
As noted [above](https://github.com/auth0/auth0-java/issues/324#issuecomment-737521043), if using spring dependency management, the solution is to add the okhttp v4 to the Spring BOM. We will update the README to include this information.

[2021-03-08 11:15] kler opened #337 "Support For TLS Version 1.2"
From 2021-03-22 Auth0 will be requiring TLS 1.2.

- Does this package support that?
- If yes, from what version is TLS 1.2 supported? _(i.e., who will need to upgrade)_

See
- https://support.auth0.com/notifications/60075b84581057000b4a6739
- https://github.com/auth0/node-auth0/issues/581
- https://github.com/auth0/auth0-PHP/issues/479

[2021-03-08 15:58] Marcus-Biel-idnow commented on #324
I am not using spring, and I don't see why this is necessary at all.

[2021-03-10 02:54] jimmyjames commented on #271
While I do think allowing for a pluggable HTTP client is something this library should support, I don't think exposing the OkHttp dependency directly is the best solution. It couples this library more/too closely with a specific Http client, which could lead to issues with versioning/configuration (see #324 for an example of how upgrading to OkHttp v4 negatively impacted users using Spring's depen

[2021-03-11 16:03] majugurci commented on #324
I don't know why this is closed since it's not fixed.
I have tried with version 1.27.0 but it still gives the same error.
I'm not using Spring, I'm using Quarkus.

What can we do to avoid this exception?
We are forced to stay on version 1.24.0 in which everything works fine.

[2021-03-11 16:37] jsalinaspolo commented on #324
@majugurci I am not familiar with Quarkys, but does it use an old OkHttp version?
Are you not able to fix managing the dependencies described here?
https://github.com/auth0/auth0-java/issues/324#issuecomment-737521043

If Quarkus or any other framework uses an old version of OkHttp and makes it a transitive dependency, it will need to be managed in the dependency management tool you use

[2021-03-12 07:50] majugurci commented on #324
Quarkus uses maven for dependency management.

I have tried to override okhttp dependency like [here](https://github.com/auth0/auth0-java#using-with-spring-dependency-management) but then it gives me another error:
[code]

After looking at effective pom i see 3 mentions of okhttp:
[code]

I have tried to also update logging-interceptor but then it throws this Exception:
[code]

If i try to update

[2021-03-12 08:00] MarcusBiel commented on #324
I use Quarkus as well, and I just ran mvn dependeny:tree on my project. The only dependency using okhttp3 is auth0:
[INFO] +- com.auth0:auth0:jar:1.24.0:compile
[INFO] |  +- com.squareup.okhttp3:okhttp:jar:3.14.9:runtime
[INFO] |  |  \- com.squareup.okio:okio:jar:1.17.2:runtime
[INFO] |  +- com.squareup.okhttp3:logging-interceptor:jar:3.14.9:runtime
--
It's not fixed, I will stay on 1.24.0 and mov

[2021-03-12 08:32] jsalinaspolo commented on #324
@MarcusBiel could you share the dependency tree using `1.27.0` or provide an example? If you do not have any transitive dependency of okhttp from another library, then you should not have any problem as a newer version of auth0 library uses okhttp `4.9`. No conflicts should happen

[2021-03-12 08:38] majugurci commented on #324
I run mvn dependency:tree with Auth0 version 1.27.0 and this is what I got:
[code]

[2021-03-12 10:15] jsalinaspolo commented on #324
The issue is while using Quarkus dependency management, similar to what was describe while using Spring dependency management.

To be able to reproduce the different scenarios, I created this [sample repository](https://github.com/jsalinaspolo/maven-quarkus-auth0-sample)

Adding it to dependencyManagement should enforce version `4.9.1`

[code]

[2021-03-12 12:34] majugurci commented on #324
I have tried it and now it really does show version 4.9.0 in dependency tree.

[code]

But now when calling
[code]
it gives me the following error:
[code]

Has anything changed about this call from version 1.24.0?

[2021-03-12 14:56] jimmyjames commented on #324
Reopening based on above, thanks for providing the sample to reproduce, we'll follow up here with additional info once we reproduce and see what the solution may be.

[2021-03-12 20:14] jimmyjames commented on #324
@majugurci I think that error is similar, but related to `grpc-okhttp` as you mentioned. Curious, what happens if you add this to your `dependencyManagement`?

[code]

[2021-03-12 20:46] majugurci commented on #324
It seems to fix the problem!
I will test it more thoroughly in the next days but for now this basic call has passed.

Now my pom.xml looks like this:
[code]

Not pretty but at least it works.

[2021-03-15 23:30] jimmyjames commented on #337
Hi @kler, yes, this library supports TLS 1.2. This library uses OkHttp, which supports [modern TLS by default](https://github.com/square/okhttp/blob/480c20e46bb1745e280e42607bbcc73b2c953d97/docs/https.md#https). You can read more about HTTPS with OkHttp here if interested. Thanks!

[2021-03-15 23:30] #337 closed

[2021-04-05 16:42] jimmyjames commented on #324
The majority of these issues should be resolved in `1.28.1`, which includes #342 to use methods available in OkHttp v3. It will be available in Maven Central later today. There may still be scenarios where configuring the dependencies to use OkHttp v4 is still required, and we cannot guarantee that future changes will be compatible forever, but it's a reasonable change that should address the majo

[2021-04-05 16:42] #324 closed

[2021-04-13 17:04] Marcus-Biel-idnow opened #349 "Resend verification Email"
The java client should allow to resend the verification email to the user.

There is an endpoint for that:
https://auth0.com/docs/api/management/v2#!/Jobs/post_verification_email

But it's not included in the Java library unfortunately.

[2021-04-13 18:16] jimmyjames commented on #349
Hi @Marcus-Biel-idnow, the library does provide support for that endpoint in the `JobsEntity`, for example [this method](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/mgmt/JobsEntity.java#L83). Can you verify that meets your needs? Thanks!

[2021-04-14 09:11] Marcus-Biel-idnow commented on #349
Thanks! A bit hidden, and I didnt find any documentation about this, but it works, and meets my needs 100% :)

[2021-04-14 09:11] #349 closed

[2021-04-19 13:42] AlphaJuliettOmega commented on #42
@lbalmaceda how do I know if there was a regression on this issue or if it's a new issue?

I don't know how to reproduce or get more info but I'm seeing this in my logging:
[code]

And I can't find much about this anywhere else (I'm using React-native-intercom 18, upgrade to 19 didn't change it)

[2021-04-19 14:20] lbalmaceda commented on #42
I'm not sure. Since then, we wrapped the access to the response body both when parsing a 2xx ([here](https://github.com/auth0/auth0-java/blob/61865c77bd9cc2eaa63afb01c2d7df06cee86713/src/main/java/com/auth0/net/ExtendedBaseRequest.java#L69)) or an error response ([here](https://github.com/auth0/auth0-java/blob/61865c77bd9cc2eaa63afb01c2d7df06cee86713/src/main/java/com/auth0/net/ExtendedBaseRequest

[2021-04-21 22:54] Matthew-Nwen opened #351 "Missing body options in requesting password change ticket"
### Describe the problem you'd like to have solved

According to the `Auth0` [documentation](https://auth0.com/docs/api/management/v2#!/Tickets/post_password_change), the endpoint to request a password change should be able to take two additional arguments.

1. client_id: ID of the client used to redirect to the default login route of the corresponding application.
2. includeEmailInRedirect: flag

[2021-04-22 16:30] jimmyjames commented on #351
👍  Thanks for raising this! We'll get a PR out soon to support this.

[2021-04-27 16:56] #351 closed

[2021-05-03 13:59] majugurci commented on #324
Just an update, I have updated Auth0 to the latest version (currently 1.30.0) and these changes are not necessary in the pom.xml anymore.

[2021-05-10 18:09] benwaffle commented on #42
I am also seeing this in 1.29.0

[2021-05-20 20:12] pennstatephil opened #356 "Add `isExpired` to TokenHolder"
### Describe the problem you'd like to have solved
It would be great if we could determine if the token inside a `TokenHolder` was still valid, from a time perspective.

### Describe the ideal solution
An `isExpired()` method for `TokenHolder` that would return true if the `exp` time has passed for the token, otherwise false.

## Alternatives and current work-arounds
Decode the token manually and

[2021-05-25 15:41] jimmyjames commented on #356
Thanks for the request and information @pennstatephil!

We'll be triaging this request internally. If we do add something like this, we'll need to account for the fact that the access token in the `/oauth/token` response is not always a JWT (it can be an opaque token, as explained nicely on [this community post](https://community.auth0.com/t/expires-in-value-is-always-86400-solved/36830/2)). Perha

[2021-06-29 14:22] jimmyjames commented on #356
@pennstatephil we've added an `expiresAt` field to the `TokenHolder` class,  calculated from the time the response is deserialized. Would you like to take a look at https://github.com/auth0/auth0-java/pull/357 and verify that this meets your use case? We'd like to ship a new minor with this change this week, if you have a chance to provide some feedback that would be great, thanks!

[2021-06-29 20:43] pennstatephil commented on #356
@jimmyjames The PR looks great- can't wait to give it a try. Thank you for implementing it!

[2021-07-05 14:27] lbalmaceda commented on #356
@jimmyjames @pennstatephil this is now released under 1.32.0

[2021-07-05 14:27] #356 closed

[2021-07-13 17:21] siauderman opened #361 "invalid_request: Missing required parameter: nonce"
Hi, I'm trying to use auth0-java in my desktop app. I generate a URL as such:
[code]
However, I get this error: invalid_request: Missing required parameter: nonce
How do I generate the nonce?
![bildo](https://user-images.githubusercontent.com/14951259/125497333-243394a7-6a21-4ace-89d7-fdb6a800c9f0.png)
If I use only token instead of token id_token it can load - however, I need the id_token.

[2021-07-22 20:58] jimmyjames commented on #361
👋 hi @siauderman,

You can add any parameters to the authorization URL using `withParameter` when building the auth URL. Here is some [documentation](https://auth0.com/docs/authorization/mitigate-replay-attacks-when-using-the-implicit-flow) about what the nonce is and how to generate one.

However, it should be noted that this SDK does not explicitly support desktop clients for authentication, as

[2021-07-25 09:50] siauderman commented on #361
I managed to get it working by just generating a random nonce using java.security.SecureRandom. Thanks!

Yes, I understand you don't support desktop Java apps - but how else would I use my existing auth0 user database with my apps (which among other things may be deployed to desktop)? I have no choice but to use JCEF to login with auth0.

[2021-07-25 09:50] #361 closed

[2021-08-05 18:57] evankellogg opened #365 "Ability to update RuleConfig in Batch to avoid rate limiting"
### Describe the problem you'd like to have solved

Add the ability to update Rule Configs in a batch manner in order to avoid rate limiting from the API.

### Describe the ideal solution

Today's endpoint only takes and updates ans single key/value pair for ruleConfig updates which can lead to a rate limit issue when someone would like to update all of their config values at once via code.  It ap

[2021-08-11 14:15] javapapo opened #366 "resetPassword - method to return a result - the redirect link contained on the email"
### Describe the problem you'd like to have solved
I would like to programmatically - get the reset password link generated by Auth0 - when I invoke the

[code]

### Describe the ideal solution
Currently when you invoke this call (method), you do indeed get an email containing the `Confirm` button and the url that will redirect you to the change pwd. Is there any chance to get a response on this c

[2021-08-11 16:25] tmytlovych-perfectial opened #367 "Obtaining Authorization Code"
Is there a way to obtain an Authorization Code?
Like what is returned here via UI login on callback  URL "http://localhost:8888/Callback?code=<auth_code>"

I have tried with
[code]
It returns me a formatted URL - what should I call with that URL to get auth code?

[2021-08-16 13:32] jimmyjames commented on #367
Hi @tmytlovych-perfectial,

When you build the authorize URL, it is to be used to redirect the user to the login page. Once the user logs in, the Auth0 authorization server will redirect to your callback URL, and include a one-time use authorization code which can then be used to obtain tokens (with the `exchangeCode` method on the `AuthenticationAPI`).

More details on the Authorization Code Flow

[2021-08-16 13:32] #367 closed

[2021-08-16 13:34] jimmyjames commented on #365
Hi @evankellogg, thanks for providing the details on this request. I'll look into this in more detail this week and see if this is something the SDK can/should support in the future. Thanks!

[2021-08-16 13:35] tmytlovych-perfectial commented on #367
So, there is no way to get authorization code programmatically?
Only via browser UI login?

[2021-08-16 13:42] jimmyjames commented on #366
Hi @javapapo, thanks for providing details here.

Short answer is no, when calling the change password Authentication API endpoint, Auth0 will send an email with the link; this is how the identity of the user is verified. However, as [noted in the Auth0 documentation](https://auth0.com/docs/connections/database/password-change), you can use the [Management API](https://auth0.com/docs/api/managemen

[2021-08-16 13:57] #366 closed

[2021-08-17 01:18] jimmyjames commented on #367
Correct. That is how the Authorization Code Flow is defined per specification.

[2021-08-27 12:41] radiopapus opened #371 "Resolve id in log events. Rename it to log_id."
Hey, guys.
Log event response contains log_id field but class contains id field and @JsonProperty("_id"). See response example https://auth0.com/docs/api/management/v2/#!/Logs/get_logs

public class LogEvent {

    @JsonProperty("_id")
    private String id;
...
}

### Describe the ideal solution

Could you just add log_id instead of _id. I mean @JsonProperty("_id") -> @JsonProperty("log_id")

###

[2021-08-27 15:58] #371 closed, assigned to nobody

[2021-09-07 19:29] jimmyjames commented on #365
Hi @evankellogg, I originally missed that this feature request is really a feature request for the management API itself. The best way to make such a request is through Auth0 support at https://support.auth0.com/. If a new endpoint is added to support this, then we can add support for it to this SDK. Thanks!

[2021-09-07 19:29] #365 closed

[2021-09-28 19:50] pelletier197 opened #377 "MFA authentication policies endpoint support"
### Describe the problem you'd like to have solved
At the moment, the `GuardianEntity` does not seem to support everything the Auth0 Management API supports. In particular, I need to have access to the `Put policies` endpoint from the management API.

https://auth0.com/docs/api/management/v2#!/Guardian/put_policies

I don't believe it's implemented anywhere else in the library.

### Describe the i

[2021-09-29 13:47] anilgvpcoe opened #378 "Org invitation call: invalid request with roles"
### Describe the problem you'd like to have solved

When attempting invitations to users for an org with

organizations().createInvitation(orgId, invitation)

the call is failing if we add roles to invitation object as below
[code]
  exception snippet

[code]

It seems SDK is expecting Roles object [here](https://github.com/auth0/auth0-java/blob/9089a22458e5424e14c8052f6b448215984dacf7/src/main/ja

[2021-09-30 18:24] jimmyjames commented on #377
Thanks for raising @pelletier197!

I'm not aware of any of specific reason the `put_policies` endpoint (or any other missing endpoint support) isn't implemented in this SDK, but maybe @lbalmaceda might know if there's a specific reason. If not, it's something we can add support for.

[2021-10-01 07:56] lbalmaceda commented on #377
I believe it wasn't available at the time we added the Guardian entity. This can be added. @pelletier197 would you like to send a PR for us to review?

[2021-10-01 13:29] pelletier197 commented on #377
Yes, for sure, I can check to add that when I have some time available. I can start only with the endpoint I need, and if I have some free time, and can finish implementing the rest. How does that sound?

[2021-10-01 14:04] lbalmaceda commented on #377
@pelletier197 the way we work with these types of PRs is by adding all the CRUD endpoints for a given entity at once.

In the case of the "policies" guardian entity, that would be just these endpoints:

- https://auth0.com/docs/api/management/v2#!/Guardian/put_policies
- https://auth0.com/docs/api/management/v2#!/Guardian/get_policies

If later on, you want to follow up with another PR adding more

[2021-10-04 10:47] lbalmaceda commented on #378
Thanks for reporting this. I think a good solution would be to remove the class `Roles` and use a `List<String>` instead, so the JSON serialization gets fixed. While that would be a breaking change, it's to fix something that is not working today. I'll explore if there are other options, maybe using a Jackson annotation somewhere to change the de/serialization strategy.

[2021-10-04 12:47] anilgvpcoe commented on #378
Sure, Thank you for ack'ing.

[2021-10-04 18:02] lbalmaceda commented on #378
I proposed a solution above if you'd like to try it out. Cheers

[2021-10-05 03:49] anilgvpcoe commented on #378
sure thank you

[2021-10-05 08:47] #377 closed

[2021-10-05 14:01] #378 closed

[2021-10-08 18:45] jasonfagerberg-toast opened #382 "Add client method for /api/v2/jobs/{id}/errors endpoint"
### Describe the problem you'd like to have solved

Method to get error details for a failed job (i.e. call `/api/v2/jobs/{id}/errors`)

### Describe the ideal solution

Something like
[code]

## Alternatives and current work-arounds

Current woraround: call the endpoint myself using a different HTTP client + POJOs

### Additional information, if any

I already coded this solution but it looks lik

[2021-10-08 18:52] jimmyjames commented on #382
Thanks for raisin @jasonfagerberg-toast - I don't think there's any reason we can't support this API. No special permissions should be required to create a PR, can you describe the issue you are seeing? Or if you are working on a fork and want to share a link to a commit there, might make it easier to grab the diff. That said, would like to figure out and fix why you can't make a PR here, since yo

[2021-10-09 01:04] lnavarette commented on #378
I hit this too, the fix is working for me. Do you know when it will make it into a release @lbalmaceda ?

[2021-10-11 12:57] lbalmaceda commented on #378
A new release is likely to go out this week. Thanks!

[2021-11-08 10:13] morad3741 opened #387 "doc issue - TokenVerififier withOrganization method"
Hi,
Regarding [https://github.com/auth0/auth0-java/blob/master/README.md#organizations](Organizations),

[code]

its specified to use .withOrganization method but its package private, its not accessible,
I also searched for usages for this method in the code but didn't found any, is that still needed?

Im using version 1.5.0

[2021-11-29 16:19] jimmyjames commented on #387
Hi @morad3741, thanks for reaching out. I'm guessing the `withOrganization` method should be public, I'll verify and make that change when I confirm. Thanks!

[2021-12-02 20:02] dpromanko opened #389 "Expose a way to log response headers"
### Describe the problem you'd like to have solved
I recently have been going back and fourth on a ticket with support regarding latency we were experiencing. I have been asked on multiple occasions by the support team to provide request ids that come back as a response header `x-auth0-requestid`. This is frustrating because this SDK does not expose a way to log these.

### Describe the ideal solu

[2021-12-07 18:53] #387 closed

[2021-12-20 21:52] btilford opened #390 "AuthApi.authorizeUrl Doesn't encode redirectUrl"
### Describe the problem you'd like to have solved

When calling `AuthApi.authorizeUrl` it creates an invalid `AuthorizationUrlBuilder` instance because it does not encode the `redirectUrl` parameter.

On [AuthApi.java L202](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/auth/AuthAPI.java#L202) it requires that it be a valid (unencoded) URL but then in [AuthorizedUr

[2022-01-06 14:42] jimmyjames commented on #389
Hi @dpromanko, by default the `HttpLoggingInterceptor` is set to `Level.NONE` as you noted. There is the ability to enable it (sets it to `Level.BODY`), which will include the request, response, and their respective headers, by calling `setLoggingEnabled(true)` on the API client (obviously care must be taken here as this can include sensitive information):

[code]
Doing this I verified that calls

[2022-01-06 20:13] dpromanko commented on #389
@jimmyjames Thanks for the response! I missed this method when I was looking through the sdk. Would it be a consideration to expose that log level further instead of `Level.NONE` and `Level.BODY`? It would be nice to be able to log only headers.

[2022-01-07 14:44] maffelbaffel commented on #73
We are currently developing a MultiPlatform App using jetbrains compose for Android + Desktop + Web and would really appreciate if you think about this decision again. It would be much easier to integrate Auth0 in such applications!

[2022-01-07 16:09] jimmyjames commented on #389
@dpromanko yes I think that's a good addition. Also we could expose the ability of the `HttpLoggingInterceptor`'s header redaction, to remove specific sensitive headers from the log.

I'm thinking we could add that additional configurability to the `HttpOptions` class that can be passed when constructing a new API client, and then deprecate the existing `setLoggingEnabled` method. Perhaps somethin

[2022-01-10 14:36] dpromanko commented on #389
@jimmyjames yes that looks like it should give the needed flexibility, especially having redactions exposed as well!

[2022-01-12 13:33] jimmyjames commented on #389
@dpromanko feel free to have a look or try the changes in #392. Thanks!

[2022-01-12 16:00] dpromanko commented on #389
@jimmyjames I tested these changes locally with my application and it functions exactly as I would expect.

![image](https://user-images.githubusercontent.com/28825608/149175544-68d0b684-5855-405b-a4ad-0c2aaa9f2d4a.png)

[2022-01-12 16:27] scarter93 opened #393 "Client objects do not implement HashCode"
### Describe the problem you'd like to have solved

Objects such as `com.auth0.json.mgmt.Role` do not implement java `hashCode()` and `equals()`. This causes unnecessary complexity when trying to compare equality or leverage intermediate data storage such as `HashSet`. For example, building a management portal where users can be added and removed from an application you want to compare equality of

[2022-01-21 14:38] jimmyjames commented on #389
The changes in #392 are included in v1.37.0, which will be available in Maven shortly. Thanks for the collaboration on this! 🙇

[2022-01-21 14:38] #389 closed

[2022-01-28 08:21] JacobF7 opened #400 "authorizeUrl does not support using a redirect uri that contains a custom url scheme"
### Describe the problem you'd like to have solved

When calling `AuthApi.authorizeUrl` the redirect uri cannot make use of a custom url scheme (useful in Mobile Applications) because this validation: `Asserts.assertValidUrl(redirectUri, "redirect uri")` checks that the URL contains http or https.

### Describe the ideal solution

Ideally, when calling `AuthApi.authorizeUrl` the redirect uri shoul

[2022-02-02 17:02] jimmyjames commented on #400
👋  hi @JacobF7, you are correct that the redirect URI is validated for http or https schemes, as this library targets Java server-side applications. We have the [Auth0.Android](https://github.com/auth0/Auth0.Android) library for Android apps; would you mind sharing your use case and/or why that library doesn't satisfy your requirements? Thanks!

[2022-02-02 22:21] jimmyjames commented on #393
Thanks for the issue and context @scarter93! One thing we need to think about is how the domain objects represents both request _and_ response payloads. So when considering equality, how we determine if two objects are equal when certain fields are only valid for either the request or response may be tricky to reason about as a consumer in some cases.

[2022-02-03 00:25] scarter93 commented on #393
@jimmyjames perhaps best way to solve that is with jsonviews and differing equality for those views, if possible. That way we could separate the equality and have clear and concise views for request/response.

Thoughts?

[2022-02-03 08:24] JacobF7 commented on #400
Hi @jimmyjames. Thank you for your response.

To provide some context, we offer our users a native mobile application (iOS/Android) as well as a web application. Our authentication layer from both types of applications is delegated to a backend Java server. We would like that both applications handle social logins and hence why the redirect url for the mobile app needs to contain a custom url sche

[2022-02-03 20:08] jimmyjames commented on #390
Thanks for catching this, you are correct. The JavaDoc for `AuthAPI#authorizeURL` states that the redirectUri `Must be already URL Encoded`, but as you raised, passing an already encoded URI results in a validation exception 🤦. We'll look into a fix. Thanks again!

[2022-02-03 20:30] jimmyjames commented on #390
Also, the same issue would apply to `AuthAPI#logoutUrl`, so we should fix both.

[2022-02-07 21:01] jimmyjames commented on #390
@btilford do you have an example of a redirectUrl that is a valid Allowed Callback URL in your Auth0 application, but is being rejected as invalid by `authorizeUrl()`? I'm still investigating, but I haven't found a valid Application Callback URL that fails validation of `authorizeUrl()`. At a minimum there's some Javadocs changes needed as "URL Encoded" is too vague or misleading, but I'd like to

[2022-02-07 22:25] scarter93 opened #404 "User object blocked field should be primitive or accessor renamed"
### Describe the problem you'd like to have solved

On the `com.auth0.json.mgmt.users.User` class there is a field `private Boolean blocked`. The accessor for this field is `public Boolean isBlocked() {...}`. This does not conform to Java bean specification.

This causes an issue in `java.beans.PropertyDescriptor::getReadMethod()` so the field cannot be found via reflection. This can in turn affec

[2022-02-08 14:05] jimmyjames commented on #404
Thanks for the details @scarter93. I don't think we can change the field to be a primitive type, as when serializing the object we don't serialize null fields. If we change to a primitive instead of omitting unset Boolean fields, we'd send `false` when calling endpoints, which could lead to unexpected and breaking change behavior.

Regarding adding a `get<Field>`, I think that would conflict with

[2022-02-08 15:26] scarter93 commented on #404
@jimmyjames Understood, agreed the Boolean Object makes sense in that case!

I agree that boolean accessor should be is `is<Field>`, but Java Beans doesn't account for the primitive wrapper `Boolean`  which is where the issues arises. Code in question:

[code]
From `java.beans.PropertyDescriptor`.

The workaround I mentioned would be library specific, for my use case the data was being displayed i

[2022-02-10 00:09] btilford commented on #390
@jimmyjames I ended using OkHttp directly so I don't have a specific example handy. But I think if you use a redirect URL with query parameters in it (the redirect url) you will be able to reproduce it.

Something like
`redirectUrl = 'https://my.domain/callback?a=b&x=y'`

[2022-02-11 14:10] jimmyjames commented on #400
Thanks for the info @JacobF7. Even if the redirect URL were to support custom URL schemes, I wonder if there will be other issues by delegating auth to this library for use by mobile apps, as the authentication API client in this library targets web app authentication. The Auth0.Android and Auth0.Swift libraries target the distinct needs of authentication for mobile applications, such as supportin

[2022-02-16 19:53] jimmyjames commented on #390
@btilford thanks. I see the issue, and think we can fix it without any unintended side effects since passing in a previously encoded URL would fail validation as you mentioned.

[2022-02-16 21:14] jimmyjames commented on #393
@scarter93 using jsonviews is an interesting idea. Another alternative would be to break out separate classes specific to their operation (e.g., `UserRequest` and `UserResponse`). Either would be a pretty extensive change and would need to be considered for the next major version release. We'll think a bit more about potential implications of implementing equals and hashCode with the current desig

[2022-02-16 23:58] jimmyjames commented on #404
Thanks for the info @scarter93, it may help others if they happen to run into this issue. It may not be too bad to add `get<BooleanField>` accessors. I don't want to signal right now that this library entirely conforms to the JavaBean spec though, so if we do add those accessors it would be a one-off; do you know of other property getters/setters that cause issues?

[2022-02-17 15:46] jimmyjames commented on #400
As a workaround, you can create authorize (and logout) URL manually. There may still be other issues encountered for reasons discussed above, however. Closing this issue with the suggested workaround.

[2022-02-17 15:46] #400 closed

[2022-03-05 23:56] Legion2 opened #409 "Allow to instrument Http requests made by the okhttp client"
### Describe the problem you'd like to have solved

We want to use distributed tracing with opentelemetry and also want to trace requests made to auth0 using the sdk. Therefore we want to add the [opentelemetry OkHttp instrumentation](https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/okhttp/okhttp-3.0/library) to the internal OkHttp client of the auth0

[2022-03-06 13:29] p0d3x opened #410 "SDK ClassCastException during downtime"
Hello, I wanted to report this as a bug, but it doesn't let me. So it's a feature request now.

This code:
https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/exception/APIException.java#L159

caused:
[code]

When the Auth0 API was down/not available on March 5th between 02:46 and 02:47 UTC.

Ideally this should not cause an unhandled exception in this case.

[2022-04-11 17:37] CalebeGeazi opened #419 "ManagementAPI getLogEvents() is double encoding the LogEventFilter's withQuery() value"
### Describe the problem you'd like to have solved

When building a `LogEventFilter` object that adds a `date range` query via the `LogEventsFilter.withQuery()` method, and then passing this object to the ManagementAPI `getLogEvents()` method the resulting `q`  query string parameter is being double encoded. This is causing a `400 Bad Request` error.

### Reproduction

Here's the code snippet for

[2022-04-13 21:33] jimmyjames commented on #410
Hi @p0d3x, thanks for raising this. It looks like when we create an `APIException`, we parse the response body into a map of `<String, Object>`, but then when creating the message or error we cast to a string. Perhaps we can instead call `toString()` when constructing the message/error; will need to investigate further.

[2022-04-19 13:53] #410 closed

[2022-04-19 14:25] jimmyjames commented on #419
This will be fixed with #420 which will be available in 1.41.0, which will be available in maven central shortly. Thanks!

[2022-04-19 14:25] #419 closed

[2022-05-02 17:27] dpromanko opened #424 "URL validation prevents custom native client callback"
### Describe the problem you'd like to have solved
Today, the `AuthApi.authorizeUrl` method [does validation for URLs](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/client/auth/AuthAPI.java#L236) using [okhttp's HttpUrl.parse](https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/utils/Asserts.java#L29) which forces the callback to be either `http` or `h

[2022-05-03 13:45] jimmyjames commented on #390
After further investigation, we've updated the documentation to reflect the actual current behavior. We may change the code in a future release, but that could have unintended consequences, so addressing this through documentation for now.

[2022-05-03 13:45] #390 closed

[2022-05-12 09:00] larsf96 opened #425 "Enabled connections are missing when creating an organization"
### Describe the problem you'd like to have solved

According to the changelog (https://auth0.com/changelog#6BBzbWOwkhEZdzauu2s0Bg), it is now possible to set the enabled connections for an organization directly during the Creation of an organization. This feature is currently not usable with the auth0-java library

### Describe the ideal solution

It should be possible to pass the list of enabled

[2022-05-16 13:42] charliearaya commented on #425
I'm also in need of this feature. I made a work-around by extending Organization and adding the extra value:

import com.auth0.json.mgmt.organizations.EnabledConnection;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;

import java.util.List;

@JsonIgnoreProperties(ignoreUnknown

[2022-05-17 15:00] poovamraj commented on #424
Hi @dpromanko this seems to be a valid query. I was investigating this and found that we haven't changed it to avoid unintended behaviour change - #390. I will have a pass-through of it and verify whether using [URI](https://docs.oracle.com/javase/8/docs/api/java/net/URI.html) from JDK could affect the existing flow. If not, we can take this change-up in the next release itself.

We would happy if

[2022-05-17 21:51] dpromanko commented on #424
@poovamraj [Here](https://github.com/auth0/auth0-java/compare/master...dpromanko:dpromanko/424) is what something like that could look like if we were to use `java.net.URI` for the validation. Since you mentioned doing your own pass-through, I'll obviously allow time for that before I open up a PR but hopefully this example helps.

I wrote a handful of test cases to give you examples of what would

[2022-05-17 22:05] poovamraj commented on #424
Hey @dpromanko! This looks great and we would love to merge this PR. A few small comments we can work on during the review (very small ones). Apart from that, I can see this being in our next release! Thanks again 😄 we appreciate it so much!

[2022-05-18 11:19] dpromanko commented on #424
@poovamraj PR has been opened. I'll check back later today/tomorrow for feedback. I also see that the api-diff is failing on circleci but I have no idea what that is for so please let me know if I missed something that caused that.

[2022-05-20 06:35] nicolas-vivot opened #430 "Add support to keys API"
Add support to interact with the keys API

https://auth0.com/docs/api/management/v2#!/Keys/post_signing_keys

So that we can use this management API client library to automate signing keys rotation

[2022-05-20 13:44] poovamraj commented on #430
Hi @nicolas-vivot, We have released a new version ([1.42.0](https://github.com/auth0/auth0-java/releases/tag/1.42.0)) which should support this. Do let us know if you need any more help!

[2022-05-20 13:44] #430 closed

[2022-05-20 13:44] poovamraj commented on #425
Hi @charliearaya, We have released a new version ([1.42.0](https://github.com/auth0/auth0-java/releases/tag/1.42.0)) which should support this. Do let us know if you need any more help and thanks a lot for your contribution!

[2022-05-20 13:44] #425 closed

[2022-05-20 13:45] poovamraj commented on #424
Hi @dpromanko, We have released a new version ([1.42.0](https://github.com/auth0/auth0-java/releases/tag/1.42.0)) which should support this. Do let us know if you need any more help and thanks a lot for your contribution!

[2022-05-20 13:45] #424 closed

[2022-05-21 04:16] nicolas-vivot commented on #430
@poovamraj

Great, quickly check and look good to me. I'll give it a real test on Monday.
Thank you very much for this super fast add !

[2022-06-27 08:12] larsf96 opened #440 "Support Java 8 Datetime in Requests"
### Describe the problem you'd like to have solved

At the moment, when we try to set a custom List to a user's user_metadata that contains Objects with a Java 8 Date (an Instant in this case), we get the following error message:
[code]

We use Spring Boot and have a @Bean declared in our Project with an ObjectMapper that has the JavaTimeModule registered. When using this Bean, the conversion work

[2022-06-30 15:18] poovamraj commented on #440
Hi @larsf96, thanks a lot for your contribution with the PR. We really appreciate it.

We will take a look into this PR and get back to you in the next week. Hope that works!

[2022-07-05 14:46] macalac commented on #409
👍 That would be great to have. We are about to integrate with auth0 and would love some http.client metrics being available out of the box. Looking forward to the next major release :)

[2022-07-10 05:50] bhatmadhavi opened #443 "Client response model class is missing certain fields"
### Describe the problem you'd like to have solved

This class `com.auth0.json.mgmt.client.Client` (https://github.com/auth0/auth0-java/blob/master/src/main/java/com/auth0/json/mgmt/client/Client.java) is missing following fields, that auth0 management API do provide in the client response.
Missing fields:
[code]
Sample response as per auth0 docs, does contain these values. But the pojo class does

[2022-07-17 14:24] abazlinton commented on #273
it would be good if this could be fixed. For those seeking a workaround - I managed to get `userInfo` to work with an empty string supplied as the `clientSecret` e.g.

 `new AuthAPI(<domain>, <clientId>, "");`

[2022-07-18 07:26] larsf96 commented on #440
@poovamraj Is there any update?

[2022-07-21 16:54] poovamraj commented on #443
Hi @bhatmadhavi we have added the missing parameters in this PR - https://github.com/auth0/auth0-java/pull/444

Thanks for raising this! this should be in our next release of the SDK. we will close this issue now but feel free to reopen it if required

[2022-07-21 16:54] #443 closed

[2022-07-21 17:18] poovamraj commented on #440
Hi @larsf96 Sorry for the late response. I just checked out the PR and looks like this exposes our API to have dependency with the Jackson library. We have to find a different way to provide support for this. Also, can you share the parameter and the request this fails for so that we can try to provide a better API for that particular request?

[2022-07-22 08:10] larsf96 commented on #440
Hi @poovamraj
I added the jackson library as testImplementation to ensure the unit tests, otherwise the tests are failing. But there is already a jackson dependency within this library.
Do you mean the request, that is currently failing?
Basically, whenever you try to save either user_metadata or app_metadata of a user that includes a property that uses an Instant date type, this is failing.

So f

[2022-07-22 10:21] poovamraj commented on #440
It is not adding the test dependency @larsf96, I was looking into providing the API as `registerModule(Module module)` because doing `findAndRegisterModules` will register all the modules and could interfere with API properly working.

Providing both these API would mean we are exposing Jackson features through our library and that is not great (In case we move to GSON internally this API will be

[2022-07-22 10:30] larsf96 commented on #440
Hi @poovamraj
Thanks for clarifying that, you are absolutely right with that point.
I won't do any changes for now and wait for your reply for the Instant topic

[2022-07-25 13:04] poovamraj commented on #440
Hi @larsf96, I was checking out this issue and unfortunately the SDK doesn't have the ability to do the customization you require.

Ideally, the CustomRequest being extensible should provide an instance of the `body` which should be customized in the `createRequestBody`. But currently, we are not exposing an instance of the `body` where you can do this.

A better way is to provide a lambda paramet

[2022-07-27 08:16] mgrahadhuita opened #445 "Adding default (no arg) constructor for TokenHolderDeserializer for AWS SAM Implementation"
### Describe the problem you'd like to have solved

I've been getting this issue when i was trying to use token request in AWS SAM / lambda using java :
[code]

seems like no arg constructor was needed if i want to use it on AWS SAM, since it was okay if i try to use it for local project.

### Describe the ideal solution

To add default (no arg) constructor for TokenHolderDeserializer class.

## A

[2022-07-27 21:02] poovamraj commented on #445
@mgrahadhuita Please ensure no sensitive information is shared through the stacktrace.

Also, the class mentioned  - `TokenHolderDeserializer` already has a default constructor.  Can you share the sample code that causes the issue.

[2022-07-31 14:30] poovamraj commented on #445
@mgrahadhuita also can you share the version of the library you are using, along with the Java version used to run the code?

[2022-08-05 18:30] pnam0228 opened #447 "OkHttpClient response not closed on exception"
### Describe the problem you'd like to have solved
`okhttp3.OkHttpClient - A connection to {some_auth0_url} was leaked. Did you forget to close a response body?`
We're seeing this warning sometimes when calling `TokenRequest.execute()` at times. I believe `response` here
[code]
should be closed in the `catch` block.

### Describe the ideal solution
Replace
[code]
with
[code]
## Alternatives and cu

[2022-08-07 21:25] poovamraj commented on #445
Hi @mgrahadhuita we couldn't reproduce this issue on our end for now. We will close this issue for now but feel free to reopen this with more details.

[2022-08-07 21:25] #445 closed

[2022-08-07 21:26] poovamraj commented on #447
Hi @pnam0228, thank you for raising this issue with clear details. We will take a look into it and fix this issue.

[2022-08-07 22:11] poovamraj commented on #409
Hello @Legion2 and @macalac, thanks for reaching out regarding this feature. We have noted this down internally and tracking it under ticket 3520. We are planning provide an update for this library in which we will be hopefully implementing this feature. We will let you know once this is done and until then we are closing this since there is already an internal tracker. Please feel to provide comm

[2022-08-07 22:11] #409 closed

[2022-08-10 19:05] bhatmadhavi opened #448 "Get client (by ID) API should include Field Filter"
### Describe the problem you'd like to have solved

Current `auth0-java` SDK does not provide filter option to "get Client By Id" API, which is available in auth0-management API
Please see attachment
<img width="958" alt="auth0-get-client-api" src="https://user-images.githubusercontent.com/15035236/183995928-8c57d0af-c0c5-47da-819c-c847f59f9e1c.png">
This feature is useful if we intend to read onl

[2022-08-22 09:27] poovamraj commented on #448
@bhatmadhavi we have merged the PR you raised - https://github.com/auth0/auth0-java/pull/449

Thanks a lot for your contribution. The changes will be reflected in the next release of the SDK. We will close this issue for now but please feel free to reopen it if you have any more suggestions.

[2022-08-22 09:27] #448 closed

[2022-08-24 19:09] jimmyjames commented on #447
Thanks @pnam0228. Can you provide some sample code and/or failures conditions to reproduce? I'm not able to reproduce, and am seeing the response closed on exception cases (both for synchronous and asynchronous request executions).

Also curious, you mention observing the issue at times with `TokenRequest.execute()`, but the code sample and suggested change is in the async execution (`executeAsync

[2022-08-30 01:26] jimmyjames commented on #393
At this time implementing as the client objects are used as serialization objects for the request and response, implementing `hashCode` and `equals` isn't something we can do without introducing additional complexity or confusion. As discussed above it would be clearer to have separate transfer objects for both request and response, but that's a large change that even if done in a new major releas

[2022-08-30 01:26] #393 closed

[2022-08-30 01:33] jimmyjames commented on #404
Closing due to inactivity, but we will evaluate how we handle boolean fields in the next release to either better conform to JavaBeans or provide workarounds discussed above.

[2022-08-30 01:33] #404 closed

[2022-10-05 02:06] jimmyjames commented on #447
Closing this since we can't reproduce. Please chime in or open a new issue with reproducible steps if the issue persists so we can look into it.

[2022-10-05 02:06] #447 closed

[2022-11-07 07:48] krisnik commented on #212
Understand this is an old thread, but couldn't find any material for this topic. So, @joshcanhelp @lbalmaceda - Is there a recommended way of handling Management API token refresh?

In my mind there are three ways..
1. Handle the API exception, refresh token and re-run the request.
2. Store `tokenExpiresAt` and refresh the token when `managementAPI` instance is required. Something in the lines of

[2022-11-14 16:41] jdk2pq opened #472 "Add support for `/users/{user_id}/authenticators` endpoint to retrieve all Guardian Enrollments"
### Describe the problem you'd like to have solved

Our use case is that we would like to retrieve the phone number stored for a user on Auth0. Since we require mobile MFA (with email MFA as a fallback), we should be able to get this number from the Guardian Enrollments. However, the `/users/{user_id}/enrollments` endpoint only returns the first confirmed enrollment in the user's list of MFA enrol

[2022-11-16 09:50] krisnik opened #473 "Auto-refresh of API Token for Management APIs"
### Describe the problem you'd like to have solved

Continuing from [Auth0 Java SDK - Refreshing Management API Token](https://community.auth0.com/t/auth0-java-sdk-refreshing-management-api-token/93857)

### Describe the ideal solution

The SDK should internally handle the management api token and refresh it when required.
## Alternatives and current work-arounds

1. Handle the API exception, refr

[2022-11-30 01:33] jimmyjames commented on #473
Thanks for raising @krisnik! We are looking into if this is something we can add to v2, will follow-up when we know more.

I'm curious if you could expand on the challenges of option 2) you listed above? Wondering if there's additional challenges beyond the increased verbosity of needing to always call `getManagementAPI()` before every API call.

[2022-11-30 05:09] krisnik commented on #473
@jimmyjames - Any tentative timelines you have for v2 availability?

I cannot enforce "getManagementAPI()" in the code via some rules. So, if someone caches the object - `ManagementAPI mgmtAPI` in their class and initializes it only once, the client will get expired in the next 24 hours, unless some other thread updates the token via another `getManagementAPI()` call.

These will be hard to test /